{% extends 'main.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        div.custom-file{
            display: none !important;
            visibility: hidden !important;
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Editer mon profile'}) }}
{% endblock %}

{% block body %}
    <div id="main-wrapper" class="clearfix">
        <div id="main" class="container">
            <div class="row  clearfix mt-5">
                <main class="main-content col" id="content" role="main">
                    <section class="section">
                        <div id="block-nafr-content">
                            <div class="content">
                                    <div class="personal-image">
                                        <label class="label" for="registration_form_photo">
                                            {{ form_widget(userForm.photo, {'attr': {'id': 'user_form_photo'}}) }}
                                            <figure class="personal-figure">
                                                {% if user.photo is not null %}
                                                    <img  id="imagePreview" width="250" src="{{ asset('users/') }}{{ user.photo }}" class="personal-avatar rounded-circle" alt="avatar">
                                                {% else %}
                                                    <img  id="imagePreview"  src="{{ asset('assets/images/avatar/avatar.jpg') }}" class="personal-avatar" alt="avatar">
                                                {% endif %}
{#                                                <figcaption class="personal-figcaption">
                                                    <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                                                </figcaption>#}
                                            </figure>
                                        </label>
                                    </div>
                            </div>
                        </div>
                        <div>

                            <div class="content">
                                {{ form_start(userForm) }}
                                <div class="row g-4">
                                    <!-- Full name -->
                                    <div class="col-12 mb-3">
                                        <label class="form-label">Nom complet</label>
                                        <div class="input-group">
                                            {{ form_widget(userForm.firstname, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_widget(userForm.lastname, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <!-- Email id -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Email</label>
                                        {{ form_widget(userForm.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <!-- Username -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Sexe</label>
                                        {{ form_widget(userForm.sex, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <!-- Phone number -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Téléphone</label>
                                        {{ form_widget(userForm.phone_number, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Nationalité</label>
                                        {{ form_widget(userForm.nationality) }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Date de naissance</label>
                                        {{ form_widget(userForm.date_of_birth) }}
                                    </div>

                                    <!-- About me -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Lieu de naissance</label>
                                        {{ form_widget(userForm.place_of_birth, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <!-- About me -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Ville</label>
                                        {{ form_widget(userForm.city, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Commune</label>
                                        {{ form_widget(userForm.commune, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Quartier</label>
                                        {{ form_widget(userForm.quartier, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">N° Passeport </label>
                                        {{ form_widget(userForm.passport, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">N° Carte d'identité </label>
                                        {{ form_widget(userForm.cni, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Adresse </label>
                                        {{ form_widget(userForm.address, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6 text-center">
                                        <input type="submit" class="btn btn-primary btn-lg mb-0 rounded-0" value="Mettre à jour">
                                    </div>
                                </div>
                                {{ form_end(userForm) }}
                            </div>
                        </div>

                    </section>
                </main>
                {{ include('_partials/user_profile_menu.html.twig', {active : 'edit_account'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
   {{ parent() }}
  <script>
      $('document').ready(function() {
          $('#user_form_photo'.click(function(){
              alert();
          });
			$("#user_form_photo").change(function(data){
                console.log(data);
				var imageFile = data.target.files[0];
				var reader = new FileReader();
				reader.readAsDataURL(imageFile);

				reader.onload = function(evt){
					$('#imagePreview').attr('src', evt.target.result);
					$('#imagePreview').hide();
					$('#imagePreview').fadeIn(650);
				}
        	});
      });
   </script>
{% endblock %}