<div id="top-bar-wrap" class="clr">
    <div id="top-bar" class="clr container">
        <div id="top-bar-inner" class="clr">
            <div id="top-bar-content" class="clr has-content top-bar-left">
                            <span class="topbar-content">
                            <i class="icon-phone" style="margin: 0 7px 0 0"></i> +225 01 02 68 87 88  <i class="icon-envelope-letter" style="margin: 0 7px"></i>info@synacvtcci.org
                            </span>
            </div><!-- #top-bar-content -->
            <div id="top-bar-social" class="clr top-bar-right">
                <ul class="clr" aria-label="Social links">
                    <li class="oceanwp-facebook">
                        <a href="https://www.facebook.com/Syndicat-National-des-Chauffeurs-VTC-de-C%C3%B4te-dIvoire-115647051137279" aria-label="Facebook (opens in a new tab)" target="_blank" rel="noopener noreferrer"><i class=" fab fa-facebook" aria-hidden="true" role="img">
                            </i></a>
                    </li>
                </ul>
            </div><!-- #top-bar-social -->
        </div><!-- #top-bar-inner -->
    </div><!-- #top-bar -->
</div><!-- #top-bar-wrap -->

<header id="site-header" class="minimal-header header-replace clr" data-height="125" role="banner">
    <div id="site-header-inner" class="clr container">
        <div id="site-logo" class="clr">
            <div id="site-logo-inner" class="clr">
                <a href="{{  path('home') }}" class="custom-logo-link" rel="home" aria-current="page"><img
                            width="1080" height="1080"
                            src="{{ asset('assets/front/wp-content/uploads/2022/09/logo-synacvtcci.png.jpeg') }}"
                            class="custom-logo" alt="SYNACVTCCI"
                            sizes="(max-width: 1080px) 100vw, 1080px"/></a>
            </div><!-- #site-logo-inner -->
        </div><!-- #site-logo -->
        <div id="site-navigation-wrap" class="clr">
            <nav id="site-navigation" class="navigation main-navigation clr" role="navigation">
                <ul id="menu-main-menu" class="main-menu dropdown-menu sf-menu">
                    <li id="menu-item-819"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-355 current_page_item menu-item-819">
                        <a href="{{ path("home") }}" class="menu-link"><span
                                    class="text-wrap">Accueil</span></a></li>
                    <li id="menu-item-1011"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a
                                href="{{ path("home") }}" class="menu-link"><span
                                    class="text-wrap">Qui sommes-nous?</span></a></li>
                    <li id="menu-item-816"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-816"><a
                                href="{{ path("home") }}" class="menu-link"><span class="text-wrap">Blog</span></a>
                    </li>
                    <li id="menu-item-959"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-959"><a
                                href="{{ path("register_member") }}" class="menu-link"><span
                                    class="text-wrap">Adhérer</span></a></li>
                    <li class="search-toggle-li"><a href="javascript:void(0)"
                                                    class="site-search-toggle search-header-replace-toggle"
                                                    aria-label="Search website"><i class=" icon-magnifier"
                                                                                   aria-hidden="true"
                                                                                   role="img"></i></a></li>
                </ul>
                <div id="searchform-header-replace" class="header-searchform-wrap clr">
                    <form method="get" action="{{ path("home") }}" class="header-searchform">
                        <span class="screen-reader-text">Rechercher sur ce site</span>
                        <input aria-label="Envoyer la recherche" type="search" name="s" autocomplete="off"
                               value="" placeholder="Saisir et appuyer sur Entrée pour rechercher…"/>
                    </form>
                    <span id="searchform-header-replace-close" aria-label="Fermer ce formulaire de recherche"><i
                                class=" icon-close" aria-hidden="true" role="img"></i></span>
                </div><!-- #searchform-header-replace -->
            </nav><!-- #site-navigation -->
        </div><!-- #site-navigation-wrap -->
        <div class="oceanwp-mobile-menu-icon clr mobile-right">
            <a href="#" class="mobile-menu" aria-label="Menu mobile">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span class="oceanwp-text">Menu</span>
                <span class="oceanwp-close-text">Fermer</span>
            </a>
        </div><!-- #oceanwp-mobile-menu-navbar -->
    </div><!-- #site-header-inner -->
    <div id="mobile-dropdown" class="clr">
        <nav class="clr" itemscope="itemscope">
            <ul id="menu-main-menu-1" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-355 current_page_item menu-item-819">
                    <a href="{{ path("home") }}" aria-current="page">Accueil</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a
                            href="{{ path("home") }}">Qui sommes-nous?</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-816"><a
                            href="{{ path("home") }}">Blog</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-959"><a
                            href="{{ path("register_member") }}">Adhérer</a></li>
                <li class="search-toggle-li"><a href="javascript:void(0)"
                                                class="site-search-toggle search-header-replace-toggle"
                                                aria-label="Search website"><i class=" icon-magnifier"
                                                                               aria-hidden="true"
                                                                               role="img"></i></a></li>
            </ul>
            <div id="mobile-menu-search" class="clr">
                <form aria-label="Rechercher sur ce site" method="get" action=""{{ path("home") }}""
                      class="mobile-searchform">
                    <input aria-label="Insert search query" value="" class="field" id="ocean-mobile-search-1"
                           type="search" name="s" autocomplete="off" placeholder="Rechercher"/>
                    <button aria-label="Envoyer la recherche" type="submit" class="searchform-submit">
                        <i class=" icon-magnifier" aria-hidden="true" role="img"></i></button>
                </form>
            </div><!-- .mobile-menu-search -->
        </nav>
    </div>
</header><!-- #site-header -->
