{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .section-title {
            background: linear-gradient(59deg, rgba(252,114,0,1) 9%, rgba(244,130,0,0.8855917366946778) 32%, rgba(62,146,60,0.9398113905325444) 69%, rgba(4,113,2,1) 95%);
            padding: 5px 5px;
            color: white;
            font-size: 16px;
        }
        table tbody tr td {
            color: #117b01;
            text-transform: uppercase;
            font-weight: bold;
        }

        table tbody tr th {
            width: 40%;
        }
        table tbody tr td{
            width: 60%;
        }
    </style>
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {{ include('admin/_partials/left-sidebar.html.twig')}}
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body border-bottom">
                                    <div class="d-flex justify-content-end">
                                        <div class="flex-shrink-0">
                                            {% if member.photo is not null %}
                                            <a href="{{ path('admin_member_generate_card',{'id': member.id}) }}" class="btn btn-success btn-sm waves-effect waves-light"><span class="fa fa-blender fa-1x"></span> Générer la carte</a>
                                            {% endif %}
                                            {% if member.cardPhoto is not null %}
                                            <a href="{{ path('admin_member_show_card',{'id': member.id}) }}" class="btn btn-success btn-sm waves-effect waves-light" ><span class="fa fa-eye fa-1x"></span> Voir la carte</a>
                                            <a href="{{ path('admin_member_cncmi_show', {id: member.id}) }}" class="btn btn-success btn-sm waves-effect waves-light" ><span class="fa fa-eye fa-1x"></span> Formulaire CNMCI</a>
                                            <a href="{{ path('admin_member_download_card',{'id': member.id}) }}" class="btn btn-primary btn-sm waves-effect waves-light" ><span class="fa fa-download fa-1x"></span> Télécharger la carte</a>
                                            {% endif %}
                                            <a href="{{ path('admin_member_index') }}" class="btn btn-primary btn-sm waves-effect waves-light" >Fermer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% if member.status == 'PHOTO_VALID' or member.status == 'INFORMATION_VALIDATED' %}
                                        <div class="alert alert-danger fs-5 alert-dismissible fade show" role="alert">
                                            <i class="mdi mdi-alert-outline mdi-24px me-2"></i>
                                            Attention! Ce souscripteur n'a pas encore fait son paiement.
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                    <h4 class="card-title mb-4">Dossier N° : <strong class="badge bg-gradient bg-info p-2">{{ member.trackingCode }}</strong></h4>
                                    <div class="row">
                                        <h2 class="section-title">INFORMATIONS PERSONNELLES</h2>
                                        <table class="table table-condensed table-bordered px-5">
                                            <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="d-flex justify-content-center">
                                                        <label for="member_registration_edit_photo" class="d-block d-flex justify-content-center align-content-center">
                                                            {% if member.photo is null %}
                                                                <img src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="" width="100" class="rounded-2">
                                                            {% else %}
                                                                <img id="imagePreview" src="{{ asset('members/') }}{{ member.reference }}/{{ member.photo }}" alt="" width="200" class="rounded-2">
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Matricule</th>
                                                <td>{{ member.matricule }}</td>
                                            </tr>
                                            <tr>
                                                <th>Sexe</th>
                                                <td>{{ member.sex }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nom</th>
                                                <td>{{ member.lastName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Prénoms</th>
                                                <td>{{ member.firstName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>{{ member.email }}</td>
                                            </tr>
                                            <tr>
                                                <th>Numéro Mobile</th>
                                                <td>{{ member.mobile }}</td>
                                            </tr>
                                            <tr>
                                                <th>Numéro Whatsapp</th>
                                                <td>{{ member.Whatsapp }}</td>
                                            </tr>
                                            <tr>
                                                <th>Numéro Fixe</th>
                                                <td>{{ member.phone }}</td>
                                            </tr>
                                            <tr>
                                                <th>Ville de naissance</th>
                                                <td>{{ member.birthCity }}</td>
                                            </tr>
                                            <tr>
                                                <th>Pays de naissance</th>
                                                <td>{{ member.birthCountry }}</td>
                                            </tr>
                                            <tr>
                                                <th>Date de naissance</th>
                                                <td>{{ member.dateOfBirth ? member.dateOfBirth|date('d-m-Y') }}</td>
                                            </tr>
                                            <tr>
                                                <th>Localité de naissance</th>
                                                <td>{{ member.birthLocality }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nationalité</th>
                                                <td>{{ member.nationality }}</td>
                                            </tr>
                                            <tr>
                                                <th>Situation géographique de résidence</th>
                                                <td>{{ member.commune }}</td>
                                            </tr>
                                            <tr>
                                                <th>Ville de résidence</th>
                                                <td>{{ member.city }}</td>
                                            </tr>
                                            <tr>
                                                <th>Quartier de résidence</th>
                                                <td>{{ member.quartier }}</td>
                                            </tr>
                                            <tr>
                                                <th>Boîte postale</th>
                                                <td>{{ member.postalCode }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <h2 class="section-title">DOCUMENTS D'IDENTITE</h2>
                                        <table class="table table-condensed table-bordered px-5">
                                            <tbody>
                                            <tr>
                                                <th>Compagnie de VTC</th>
                                                <td>{{ member.company ? member.company|json_encode: "" }}</td>
                                            </tr>
                                            <tr>
                                                <th>Type de la pièce d'identite (CNI ou Carte consulaire)</th>
                                                <td>{{ member.IdType }}</td>
                                            </tr>
                                            <tr>
                                                <th>N° Pièce d'identité</th>
                                                <td>{{ member.IdNumber }}</td>
                                            </tr>
                                            <tr>
                                                <th>Autorité délivrant la pièce d'identité</th>
                                                <td>{{ member.IdDeliveryAuthority }}</td>
                                            </tr>
                                            <tr>
                                                <th>Délivré le</th>
                                                <td>{{ member.IdDeliveryDate ? member.IdDeliveryDate| date('d-m-Y')  : ''}}</td>
                                            </tr>
                                            <tr>
                                                <th>Lieu d'établissement de la pièce d'identité</th>
                                                <td>{{ member.IdDeliveryPlace }}</td>
                                            </tr>
                                            <tr>
                                                <th>Numéro du permis de conduire</th>
                                                <td>{{ member.drivingLicenseNumber }}</td>
                                            </tr>
                                            <tr>
                                                <th>Images CNI</th>
                                                <td>
                                                    <img src="{{ asset('members/') }}{{ member.reference }}/{{ member.photoPieceFront }}" alt="" width="300" class="rounded-2">
                                                    <img src="{{ asset('members/') }}{{ member.reference }}/{{ member.photoPieceBack }}" alt="" width="300" class="rounded-2">

                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Images Permis</th>
                                                <td>
                                                    <img src="{{ asset('members/') }}{{ member.reference }}/{{ member.photoPermisFront }}" alt="" width="300" class="rounded-2">
                                                    <img src="{{ asset('members/') }}{{ member.reference }}/{{ member.photoPermisBack }}" alt="" width="300" class="rounded-2">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <h2 class="section-title">DONNEES FAMILLES</h2>
                                        <table class="table table-bordered px-5">
                                            <tbody>
                                            <tr>
                                                <th>Situation matrimoniale</th>
                                                <td>{{ member.etatCivil }}</td>
                                            </tr>
                                            <tr>
                                                <th>Prénoms conjoint</th>
                                                <td>{{ member.partnerFirstName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nom conjoint</th>
                                                <td>{{ member.partnerLastName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nom personne à contacter</th>
                                                <td>{{ member.referantLastName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Prénoms personne à contacter </th>
                                                <td>{{ member.referantFirstName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Numéro Téléphone personne à contacter</th>
                                                <td>{{ member.referantMobile }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <h2 class="section-title">CHAMBRE DES METIERS</h2>
                                        <table class="table table-bordered px-5">
                                            <tbody>
                                            <tr>
                                                <th>Code reçu de paiement Orange money</th>
                                                <td>{{ member.paymentReceiptCnmciCode }}</td>
                                            </tr>
                                            <tr>
                                                <th>Reçu orange</th>
                                                <td>
                                                    {% if member.paymentReceiptCnmciPdf %}
                                                        <embed src="/members/{{ member.reference }}/{{ member.paymentReceiptCnmciPdf }}" width="500" height="375" type="application/pdf">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Documents scannés</th>
                                                <td>
                                                    {% if member.scanDocumentIdentitePdf %}
                                                        <embed src="/members/{{ member.reference }}/{{ member.scanDocumentIdentitePdf }}" width="500" height="375" type="application/pdf">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex justify-content-between">
                                        <a href="{{ path('admin_member_edit', {id: member.id}) }}" class="btn btn-primary waves-effect waves-light col-md-2 offset-1"><i class="fa fa-arrow-left fa-1x"></i> Revenir</a>
                                        {% if member.status == 'INFORMATION_VALIDATED' %}
                                            <a href="{{ path('admin_payment_choose',{'id': member.id}) }}" class="btn btn-success waves-effect waves-light col-md-2 offset-1"> Passer au paiement <i class="fa fa-arrow-right fa-1x"></i></a>
                                        {% else %}
                                            <a href="{{ path('admin_index')}}" class="btn btn-primary waves-effect waves-light col-md-2 offset-1"><i class="fa fa-arrow-left fa-1x"></i> Enregistrer et quitter</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
          $("#member_photo").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#imagePreview').attr('src', evt.target.result);
                  $('#imagePreview').fadeIn(650);
              }
          });
      });

  </script>
{% endblock %}


