{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .card-body{
            border: 2px solid #f8f8fb;
            cursor: pointer;
        }
        .card-body:hover {
            border: 2px solid #dc8c00;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Begin page -->
    <div id="layout-wrapper">
        {{ include('admin/_partials/header.html.twig') }}

        {% if is_granted('ROLE_ADMIN') %}
            <!-- ========== Left Sidebar Start ========== -->
            {{ include('admin/_partials/left-sidebar.html.twig')}}
            <!-- Left Sidebar End -->
        {% endif %}
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Recherche rapide de souscripteur</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="{{ path("admin_index")}}">Accueil</a></li>
                                        <li class="breadcrumb-item active">Recherche rapide</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center align-content-center mt-5">
                        <div class="col-lg-4 mx-3">
                            <div class="card card-body d-flex align-items-center">
                                    <h4 class="card-title">REGLEMENT PAR CASH</h4>
                                    <img src="{{ asset('assets/frontend/img/cash-payment.png') }}" alt="" width="200">
                                    <p class="card-text">Veuillez encaisser le somme en espèce du client.</p>
                                    <form method="post" action="{{ path('admin_payment_cash', {id: member.id, montant: montant}) }}">
                                        <div class="form-group">
                                            <input type="text" name="amount" class="form-control form-control-lg text-center fs-2 fw-bold"  placeholder="{{ montant }}" value="{{ montant }} F CFA"/>  &nbsp;&nbsp;
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary w-75 w-md" data-bs-dismiss="modal">CASH</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="card card-body d-flex align-items-center">
                                    <h4 class="card-title">REGLEMENT PAR MOBILE MONEY</h4>
                                    <img src="{{ asset('assets/frontend/img/mobile-payment-01.webp') }}" alt="" width="230" height="200">
                                    <p class="card-text">Paiement électronique via paiement mobile wave.</p>

                                <form method="post" action="{{ path('admin_payment_cash', {id: member.id, montant: montant}) }}">
                                    <div class="form-group">
                                        <input type="text" name="amount" class="form-control form-control-lg text-center fs-2 fw-bold"  placeholder="{{ montant }}" value="{{ montant }} F CFA"/>  &nbsp;&nbsp;
                                    </div>
                                    <div class="text-center">
                                        <a href="#" id="mobilemoneybtn" class="btn btn-primary w-75 waves-effect waves-light"
                                           target="popup"
                                           onclick="window.open('{{ path('do_payment', {id: member.id, montant: montant})}}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                            MOBILE MONEY
                                        </a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $("#cashbtn").click(function(){
                $('.modal-cash').modal('show');
            });

        });
    </script>
{% endblock %}
