{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>

        label#choice-mobile, label#choice-cash {
            cursor: pointer;
        }

        .highlighted {
            border: 2px solid #dc8c00;
        }
        .unselected {
            border: none;
        }
        #invoice-table tr th {
            font-size: 1.15em;
            font-weight: bold;
        }
        #invoice-table tr td {
            font-size: 1.15em;
            font-weight: normal;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Begin page -->
    <div id="layout-wrapper">
        {{ include('admin/_partials/header.html.twig') }}

        {% if is_granted('ROLE_ADMIN') %}
            <!-- ========== Left Sidebar Start ========== -->
            {{ include('admin/_partials/left-sidebar.html.twig')}}
            <!-- Left Sidebar End -->
        {% endif %}
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Paiement</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="{{ path("admin_index")}}">Accueil</a></li>
                                        <li class="breadcrumb-item active">Recherche rapide</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card card-body d-flex align-items-center">
                            <div class="col-12">
                                <form id="frm" action="{{ path('do_payment', {id: member.id})}}" method="post">
                                <table id="invoice-table" class="table table-bordered table-condensed">
                                    <tr>
                                        <th></th>
                                        <th>LIBELLE</th>
                                        <th>MONTANT (CFA TTC)</th>
                                    </tr>
                                    {% for index, pay in payFor['items'] %}
                                    <tr>
                                        <td>{{ index+1 }}</td>
                                        <td>{{ pay['title'] }}</td>
                                        <td>{{ pay['montant'] }}</td>
                                        <input type="hidden" name="payfor[]" value="{{ pay['key'] }}">
                                    </tr>
                                    {% endfor %}
                                    <tr style="background-color: #fcf7e8">
                                        <td></td>
                                        <td style="text-align: end;font-size: 1.5em;"> TOTAL </td>
                                        <td style="font-size: 1.5em;">{{ payFor['total'] }}</td>
                                        <input type="hidden" name="total" value="{{ payFor['total'] }}">
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <h5 class="mt-5" >Veuillez sélectionner le mode de paiement</h5>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="col-lg-2">
                                        <label class="card card-body d-flex align-items-center highlighted" id="choice-cash">
                                            <input type="radio" value="mobile_money" name="paiement_mode" style="position:absolute;left:11px;top:9px;" checked/>
                                            <span>MOBILE MONEY</span>
                                            <img src="{{ asset('assets/frontend/img/mobile-payment-01.webp') }}" alt="" width="100">
                                        </label>
                                    </div>
                                    <div class="col-lg-2 mx-3">
                                        <label class="card card-body d-flex align-items-center" id="choice-mobile">
                                            <input type="radio" value="cash" name="paiement_mode" style="position:absolute;left:11px;top:9px;"/>
                                            <span>CASH</span>
                                            <img src="{{ asset('assets/frontend/img/cash-payment.png') }}" alt="" width="80">
                                        </label>
                                    </div>
                                </div>
                                <div class="mx-auto w-25">
                                    <div class="text-center">
                                        <button type="submit" id="payerbtn" class="btn btn-success w-100 waves-effect waves-light">
                                            PAYER
                                        </button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $("label#choice-cash input[type='radio']").on('click', function(){
                $("label#choice-mobile").removeClass('highlighted');
                $("label#choice-mobile").addClass('unselected');

                $("label#choice-cash").removeClass('unselected');
                $("label#choice-cash").addClass('highlighted');
            });

            $("label#choice-mobile input[type='radio']").on('click', function(){
                $("label#choice-cash").removeClass('highlighted');
                $("label#choice-cash").addClass('unselected');

                $("label#choice-mobile").removeClass('unselected');
                $("label#choice-mobile").addClass('highlighted');
            });

            var myForm = document.getElementById('frm');
            myForm.onsubmit = function() {
                var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=1000,height=800,left = 312,top = 234');
                this.target = 'Popup_Window';
                window.location.replace('{{ path('admin_index') }}');
            };
        });
    </script>
{% endblock %}
