<div style="display: flex; justify-content: center; align-items: center">
    <table  style="margin-top: 5px;border-collapse: collapse;table-layout: fixed;width: 100%;">
        <tr style="border-collapse: collapse;">
            <td colspan="2" style="border-collapse: collapse;text-align: center">
                <p style="font-weight: bolder; font-size: 25px; text-transform: capitalize;text-align: center">RE&ccedil;U DE PAIEMENT</p>
            </td>
        </tr>
        <tr style="border-collapse: collapse;">
            <td style="border-collapse: collapse;padding: 15px 5px;">
               <img src="/var/www/html/public/assets/frontend/img/logo-synacvtcci.jpg" width="100">
            </td>
            <td style="border-collapse: collapse;padding: 15px 15px;text-align: center">
                <img id="imagePreview" src="/var/www/html/public/members/{{ member.reference }}/{{ payments[0].paymentFor.photo }}" alt="" width="150" height="150">
            </td>
        </tr>
        <tr style="border-collapse: collapse;">
            <td colspan="2">
                <p style="border-collapse: collapse;font-weight: bolder">Num&eacute;ro de re&ccedil;u:   {{ payments[0].reference }}</p>
                <p style="border-collapse: collapse;font-weight: bolder"> Date : {{ payments[0].createdAt | date('d/m/Y')}}</p>
            </td>
        </tr>
    </table>
    <br>
    <div>
        <div>Nom : {{ member.lastName }}</div>
        <div>Pr&eacute;noms : {{ member.firstName }}</div>
        <div>Mode de paiement : {{ member.lastName }}</div>
    </div>
    <table style="margin-top:50px;border-collapse: collapse;table-layout: fixed;width: 100%;">
        {% for payment in payments %}
        <tr style="border-collapse: collapse;">
            <th style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">Libellé</th>
            <td style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">{{ payment.target }}</td>
        </tr>
        <tr  style="border-collapse: collapse;">
            <th style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">Mode de paiement</th>
            <td style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">{{ payment.type|upper }}</td>
        </tr>
        <tr>
            <th style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">Montant (CFA)</th>
            <td style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">{{ payment.montant }}</td>
        </tr>
        {% endfor %}
        <tr  style="border-collapse: collapse;margin-top: 50px;">
            <td colspan="2" style="margin-top:20px;padding: 10px 10px;text-align: center">
                <div style="margin-top:20px;margin-bottom: 20px;">
                    <img src="/var/www/html/public/members/{{ member.reference }}/payment_barcode.png" width="120" height="120">
                </div>
            </td>
        </tr>
        <tr  style="border-collapse: collapse;">
            <td colspan="2" style="padding:5px 5px; text-align: center">
                <p>Pour plus d'informations, contactez le service d'assistance : </p>
                <p>T&eacute;l&eacute;phone: (+225) 07 67 01 07 46 / 05 00 67 86 89 </p>
                <p>Email: info@sfp.com</p>
            </td>
        </tr>
        <tr style="border-collapse: collapse;">
            <td colspan="2" style="padding:5px 5px; text-align: center">
                <div style="border-collapse: collapse;padding: 30px 30px; border:1px solid red; color:red">
                    Nous vous prions de vous rendre &agrave; la chambre nationale de m&eacute;tiers pour le retrait de votre carte d'artisan.<br>
                </div>
            </td>
        </tr>
    </table>
</div>
