<div style="display: flex; justify-content: center; align-items: center">
    <table>
        <tr style="border-collapse: collapse;">
            <td style="border-collapse: collapse;margin-top:30px;padding: 10px 10px;text-align: center;font-size:28px; font-weight:bold;">
                    RECU DE PAIEMENT
            </td>
        </tr>
        <tr>
            <td style="margin-top:20px;padding: 10px 10px;text-align: center">
                <img src="/var/www/html/public/assets/frontend/img/logo-synacvtcci.jpg" width="150">
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-weight: bolder">Num&eacute;ro Re&ccedil;u:   {{ payment.reference }}</p>
                <p style="font-weight: bolder"> Date : {{ payment.createdAt | date('d/m/Y')}}</p>
            </td>
        </tr>
    </table>
    <br>
    <table style="margin-top:50px;border-collapse: collapse;table-layout: fixed;width: 100%;">
        <tr style="border-collapse: collapse;">
            <th style="width:25%; border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">Nom</th>
            <td style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">{{ payment.paymentFor.lastName }}</td>
        </tr>
        <tr  style="border-collapse: collapse;">
            <th style="width:25%; border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">Pr&eacute;noms</td>
            <td style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">{{ payment.paymentFor.firstName }}</td>
        </tr>
        <tr>
            <th style="width:25%; border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">Mode de paiment</th>
            <td style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">{{ payment.Montant }}</td>
        </tr>
        <tr>
            <th style="width:25%; border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">Montant (CFA)</th>
            <td style="border: 1px solid black; border-collapse: collapse; padding: 5px 5px;">{{ payment.type|upper }}</td>
        </tr>
        <tr  style="border-collapse: collapse;">
            <td colspan="2" style="margin-top:50px;padding: 10px 10px;text-align: center">
                <img src="/var/www/html/public/members/{{ payment.paymentFor.reference }}/payment_barcode.png" width="100" height="100">
            </td>
        </tr>

        <tr>
            <td colspan="2" style="margin-top:50px;padding: 10px 10px;text-align: center">
                <div style="padding: 30px 30px; border:1px solid red; color:red">
                    Nous vous prions de vous rendre &agrave; la chambre nationale de m&eacute;tiers pour le retrait de votre carte d'artisan.<br>
                </div>
            </td>
        </tr>
        <tr  style="border-collapse: collapse;">
            <td colspan="2" style="margin-top:50px;padding:5px 5px; text-align: center">
                <p>Pour plus d'informations, contactez le service d'assistance : </p>
                <div>
                    <ul style="text-align: center; list-style: none">
                        <li>T&eacute;l&eacute;phone: (+225) 05 96 72 70 71 / 07 68 39 88 47 / 01 02 68 87 88 </li>
                        <li>Email: info@sfp.com</li>
                    </ul>
                </div>
                </p>
            </td>
        </tr>
    </table>
</div>
