{% extends 'main.html.twig' %}

{% block title %}Enregistrement nouveau membre{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        div.custom-file{
            display: none !important;
            visibility: hidden !important;
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Creation de compte'}) }}
{% endblock %}

{% block body %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <section class="p-0 d-flex justify-content-center align-items-center position-relative overflow-hidden">
            <div class="container">
                <div class="card my-4 bg-light rounded-0">
                    <div class="card-header">
                        <!-- Title -->
                        <h2 class="font-weight-bold">Veuilez fournir vos informations.</h2>
                    </div>
                    <div class="card-body">

                        {{ form_start(registrationForm) }}
                        {% if error is defined %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="row p-4">

                            <!-- START PHOTO UPLOAD -->
                            <div class="col-md-3">
                                <label for="registration_form_photo">
                                    <img id="imagePreview" src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="" width="150" class="rounded-circle">
                                    <span class="d-block position-relative text-dark" style="top:-20px;left:100px"><i class="fa fa-camera fa-2x"></i></span>
                                    {{ form_widget(registrationForm.photo, {'attr': {'class': 'visually-hidden', 'id': 'registration_form_photo'}}) }}
                                    <span>Télécharger votre photo</span>
                                </label>
                            </div>
                            <!-- END PHOTO UPLOAD -->

                            <!-- START FIELDS -->
                            <div class="col-md-9">
                                <div class="form-group row">
                                    <label for="firstname" class="col-sm-2 col-form-label"> {{ form_label(registrationForm.firstname) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control required'}}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-sm-2 col-form-label"> {{ form_label(registrationForm.lastname) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control required'}}) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="sex" class="col-sm-2 col-form-label"> {{ form_label(registrationForm.sex) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(registrationForm.sex, {'attr': {'class': 'form-control form-select required'}}) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nationality" class="col-sm-2 col-form-label"> {{ form_label(registrationForm.nationality) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(registrationForm.nationality, {'attr': {'class': 'form-control form-select required'}}) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phoneNumber" class="col-sm-2 col-form-label"> {{ form_label(registrationForm.phoneNumber) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control required'}}) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="dateofBirth" class="col-sm-2 col-form-label"> {{ form_label(registrationForm.dateofBirth) }}</label>
                                    <div class="col-sm-9">
                                        {{ form_widget(registrationForm.dateofBirth, {'attr': {'class': 'form-control required'}}) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label"> {{ form_label(registrationForm.email) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control required'}}) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    {% for passwordField in registrationForm.password %}
                                        <div class="col-sm-3">
                                            {{ form_label(passwordField, null, { 'attr': {'class': 'col-form-label'} }) }}
                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            {{ form_widget(passwordField, { 'attr': {'class': 'form-control required'} }) }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="row mb-5">
                                    <div class="col-md-7">
                                        <div class="inpt-form-group">
                                            <div class="inpt-group">
                                                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'inpt-control required'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <input type="submit" value="Procéder au paiement" class="btn btn-success rounded-0 text-uppercase" id="btn-register">
                                </div>

                            </div>
                            <!-- END FIELDS -->

                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
          $("#registration_form_photo").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#imagePreview').attr('src', evt.target.result);
                  $('#imagePreview').fadeIn(650);
              }
          });
      });

  </script>
{% endblock %}