<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href="{{ path('admin_dashboard') }}" class="waves-effect" aria-expanded="false">
                        <i class="bx bx-chat"></i>
                        <span key="t-t0">Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect" aria-expanded="false">
                        <i class="bx bxs-group"></i>
                        <span  key="t-s0">CNMCI</span>
                    </a>
                    <ul class="sub-menu mm-collapse" aria-expanded="false" style="height: 0px;">
                        <li><a href="{{ path('admin_member_search') }}" key="t-s1">Recherche rapide</a></li>
                        <li><a href="{{ path('admin_index') }}" key="t-s1">Accueil</a></li>
                        <li><a href="{{ path('admin_member_index') }}" key="t-s2">Liste artisans</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect" aria-expanded="false">
                        <i class="bx bxs-user"></i>
                        <span  key="t-s0">SYNACVTCCI</span>
                    </a>
                    <ul class="sub-menu mm-collapse" aria-expanded="false" style="height: 0px;">
                        <li><a href="{{ path('admin_cards_list') }}" key="t-s3">Liste membres</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-factory"></i>
                        <span key="t-a0">Activités</span>
                    </a>
                    <ul class="sub-sub-menu mm-collapse">
                        <li><a href="#" key="t-a1">Flash infos</a></li>
                        <li><a href="#" key="t-a2">Activités en images</a></li>
                        <li><a href="#" key="t-a3">Activités en vidéos</a></li>
                        <li><a href="#" key="t-a4">Galerie</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-detail"></i>
                        <span key="t-a0">Configuration</span>
                    </a>
                    <ul class="sub-sub-menu mm-collapse">
                        <li><a href="{{ path('admin_generate_tracking_codes') }}" key="t-s2">Codes dossier</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-lock"></i>
                        <span key="t-s0">Sécurité</span>
                    </a>
                    <ul class="sub-sub-menu mm-collapse" aria-expanded="false">
                        <li><a href="{{ path('admin_user_index') }}" key="t-s1">Utilisateurs</a></li>
                        <li><a href="#" key="t-s2">Roles</a></li>
                        <li><a href="#" key="t-s3">API</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
