<!doctype html>
<html lang="en">
<head>
    <title>Card</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1013, height=642, initial-scale=1, shrink-to-fit=no">
    <style>
        body{
            background-image: url('{{ cardbg }}');
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            width: 1013px;
            height: 642px;
        }
        #photo{
            position: absolute;
            left:2px;
            top: 238px;
            width: 283px;
            height: 338px;
            background-position:center;
            background-repeat: no-repeat;
            background-size:contain;
        }

        #qrcode  {
            position: absolute;
            left: 780px;
            top: 420px;
            padding: 10px 10px;
            background-color: white;
            z-index: 2;
        }

        #qrcode img {
            width: 150px;
            height: 150px;
            z-index: 10;
        }

        #info {
            position: absolute;
            text-align: center;
            top: 218px;
            left: 350px;
            width: 550px;
        }
        #info p {
            line-height: 25px;
        }

        #matricule{
            letter-spacing: 3px;
            text-align: center;
            font-weight: 0.9;
            height: auto;
            font-family: 'Arial';
            font-size: 20pt;

        }

        #fullname{
            letter-spacing: 2px;
            font-weight: bolder;
            text-align: center;
            height: auto;
            font-family: 'Arial Black';
            font-size: 28pt;
        }

        #titre{
            letter-spacing: 2px;
            font-weight: bolder;
            text-align: center;
            height: auto;
            font-family: 'Arial Black';
            font-size: 21pt;
            color: red;
        }

        #expiredate {
            position: absolute;
            letter-spacing: 2px;
            left: 295px;
            top: 527px;
            width: 300px;
            font-weight: bolder;
            color: black;
            font-family: 'Arial Black';
            font-size: 14pt;
        }

        #website {
            position: absolute;
            letter-spacing: 2px;
            font-weight: bolder;
            left: 295px;
            top: 549px;
            width: 250px;
            color: white;
            font-family: 'Arial Black';
            font-size: 14pt;
        }

        #footer {
            position: absolute;
            left: 1px;
            top: 564px;
            width: 600px;
            height: 50px;
        }

    </style>
</head>
<body>
<img id="photo" src="{{ photopath }}" alt="">
<div id="info">
    <p id="matricule">MATRICULE &nbsp; {{ matricule }}</p>
    <p id="fullname">{{ fullname }}</p>
    <p id="titre">{{ titre }}</p>
</div>

<div id="qrcode">
    <img src="{{ qrcodepath }}" alt="">
</div>
<div id="expiredate">{{ expiredate }}</div>
<div id="website">{{ website }}</div>
<div id="footer"></div>

</body>