{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .card-body{
            border: 2px solid #f8f8fb;
            cursor: pointer;
        }
        .card-body:hover {
            border: 2px solid #556ee6;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Begin page -->
    <div id="layout-wrapper">
        {{ include('admin/_partials/simple-header.html.twig') }}
            <div class="page-content">
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center align-content-center mt-5">
                        <div class="col-md-4">
                            <div class="card card-body d-flex align-items-center">
                                    <h4 class="card-title">ENREGISTREMENT NOUVEAU SOUSCRIPTEUR</h4>
                                    <img src="{{ asset('assets/admin/images/3d-account.avif') }}" alt="" width="200">
                                    <p class="card-text">Enregistrer nouveau souscripteur suite à l'étape de prise des photos.</p>
                                    <a href="{{ path("admin_member_photostep") }}" class="btn btn-primary w-75 waves-effect waves-light">continuer</a>
                            </div>
                        </div>
                        <div class="col-md-4 mx-2">
                            <div class="card card-body d-flex align-items-center">
                                    <h4 class="card-title">RECHERCHE RAPIDE</h4>
                                    <img src="{{ asset('assets/admin/images/Search01.png') }}" alt="" width="230" height="200">
                                    <p class="card-text" style="width:100%">Retrouver le dossier d'un souscripteur en cours de traitement ou après une pré-inscription en ligne. Veuillez demander le reçu de pré-inscription en ligne</p>
                                    <a href="{{ path('admin_member_search') }}"   class="btn btn-primary w-75 waves-effect waves-light">continuer</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-body d-flex align-items-center">
                                <h4 class="card-title">VERIFICATION ET POSE DE STICKER</h4>
                                <img src="{{ asset('assets/admin/images/certification01.webp') }}" alt="" width="230" height="200">
                                <p class="card-text">Etape de validation et de pose de sticker après verification des informations du souscripteur.</p>
                                <a href="{{ path('admin_member_verification_list')}}"  class="btn btn-primary w-75 waves-effect waves-light">continuer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

        });
    </script>
{% endblock %}
