<footer class="footer-section">
    <div class="footer-top-wrap">
        <div class="container">
            <div class="footer-top">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="brand">
                            <a class="footer-logo" href="index.html">
                                <img src="{{ asset('assets/frontend/img/logo-light.png') }}" alt="logo"></a>
                            <p>Chauffeurs de VTC en Côte d’Ivoire, votre syndicat est enfin là.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-call">
                            <i class="las la-phone-volume"></i>
                            <p><span>Infoline</span><a href="tel:2722286516">+225 27 22 28 65 16</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-mid-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item footer-list">
                        <div class="widget-title">
                            <h3>Liens</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{ path('home')}}">Accueil</a></li>
                            <li><a href="{{ path('home')}}">Qui sommes-nous ?</a></li>
                            <li><a href="{{ path('home')}}">Blog</a></li>
                            <li><a href="{{ path('home')}}">Adherer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item">
                        <div class="widget-title">
                            <h3>Notre Siège</h3>
                        </div>
                        <ul class="footer-contact">
                            <li><span>Situation:</span>Riviera palmeraie</li>
                            <li>
                                <span>Contact:</span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a6efc8c0c9e6ffc9d3d4e1cbc7cfca949288c5c9cb">[email&#160;protected]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item subscribe-wrap">
                        <div class="widget-title">
                            <h3>Notre boîte aux lettres</h3>
                        </div>
                        <form action="#" class="subscribe-form">
                            <input class="form-control" type="email" name="email" placeholder="Votre Email"
                                   required="">
                            <input type="hidden" name="action" value="mailchimpsubscribe">
                            <button class="submit">Souscrire maintenant</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="running-taxi">
            <div class="taxi"></div>
            <div class="taxi-2"></div>
            <div class="taxi-3"></div>
        </div>
    </div>

    <div class="copyright-wrap">
        <div class="container">
            <p>© <span id="currentYear"></span> synactvtcci tous droits reservés.</p>
        </div>
    </div>

</footer>

<div id="scrollup">
    <button id="scroll-top" class="scroll-to-top">
        <i class="las la-arrow-up"></i>
    </button>
</div>

<div class="dl-cursor">
    <div class="cursor-icon-holder"><i class="las la-times"></i></div>
</div>
