<!DOCTYPE html>

<title>Artisan</title>

{% block body %}
    <h1>Artisan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artisan.id }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ artisan.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ artisan.firstName }}</td>
            </tr>
            <tr>
                <th>Date_of_birth</th>
                <td>{{ artisan.dateOfBirth ? artisan.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Birth_city</th>
                <td>{{ artisan.birthCity }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ artisan.nationality }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ artisan.sex }}</td>
            </tr>
            <tr>
                <th>IdType</th>
                <td>{{ artisan.IdType }}</td>
            </tr>
            <tr>
                <th>IdNumber</th>
                <td>{{ artisan.IdNumber }}</td>
            </tr>
            <tr>
                <th>IdDeliveryDate</th>
                <td>{{ artisan.IdDeliveryDate ? artisan.IdDeliveryDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ artisan.titre }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ artisan.mobile }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ artisan.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ artisan.email }}</td>
            </tr>
            <tr>
                <th>Domicile</th>
                <td>{{ artisan.domicile }}</td>
            </tr>
            <tr>
                <th>FormationNiveauEtude</th>
                <td>{{ artisan.formationNiveauEtude }}</td>
            </tr>
            <tr>
                <th>FormationClass</th>
                <td>{{ artisan.formationClass }}</td>
            </tr>
            <tr>
                <th>FormationDiplomeObtenu</th>
                <td>{{ artisan.formationDiplomeObtenu }}</td>
            </tr>
            <tr>
                <th>FormationApprenMetierNiveau</th>
                <td>{{ artisan.formationApprenMetierNiveau }}</td>
            </tr>
            <tr>
                <th>FormationApprenMetierDiplomeObtenu</th>
                <td>{{ artisan.formationApprenMetierDiplomeObtenu }}</td>
            </tr>
            <tr>
                <th>ExploitantEtatCivil</th>
                <td>{{ artisan.exploitantEtatCivil }}</td>
            </tr>
            <tr>
                <th>FormationApprenMetier</th>
                <td>{{ artisan.formationApprenMetier }}</td>
            </tr>
            <tr>
                <th>FormationApprenMetierCNMCI</th>
                <td>{{ artisan.formationApprenMetierCNMCI }}</td>
            </tr>
            <tr>
                <th>FormationApprenMetierTypeCNMCI</th>
                <td>{{ artisan.formationApprenMetierTypeCNMCI }}</td>
            </tr>
            <tr>
                <th>CompanyMainActivity</th>
                <td>{{ artisan.companyMainActivity }}</td>
            </tr>
            <tr>
                <th>CompanySecondaryActivity</th>
                <td>{{ artisan.companySecondaryActivity }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ artisan.companyName }}</td>
            </tr>
            <tr>
                <th>CompanySigle</th>
                <td>{{ artisan.companySigle }}</td>
            </tr>
            <tr>
                <th>CompanyStartingDate</th>
                <td>{{ artisan.companyStartingDate ? artisan.companyStartingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TypeCompany</th>
                <td>{{ artisan.typeCompany }}</td>
            </tr>
            <tr>
                <th>CompanyFiscalRegime</th>
                <td>{{ artisan.companyFiscalRegime }}</td>
            </tr>
            <tr>
                <th>IdentifiantCnps</th>
                <td>{{ artisan.identifiantCnps }}</td>
            </tr>
            <tr>
                <th>CompanyAdressPostal</th>
                <td>{{ artisan.companyAdressPostal }}</td>
            </tr>
            <tr>
                <th>CompanyTel</th>
                <td>{{ artisan.companyTel }}</td>
            </tr>
            <tr>
                <th>CompanyFax</th>
                <td>{{ artisan.companyFax }}</td>
            </tr>
            <tr>
                <th>CompanyDepartement</th>
                <td>{{ artisan.companyDepartement }}</td>
            </tr>
            <tr>
                <th>CompanyCommune</th>
                <td>{{ artisan.companyCommune }}</td>
            </tr>
            <tr>
                <th>CompanySp</th>
                <td>{{ artisan.companySp }}</td>
            </tr>
            <tr>
                <th>CompanyQuartier</th>
                <td>{{ artisan.companyQuartier }}</td>
            </tr>
            <tr>
                <th>CompanyVillage</th>
                <td>{{ artisan.companyVillage }}</td>
            </tr>
            <tr>
                <th>CompanyLotNum</th>
                <td>{{ artisan.companyLotNum }}</td>
            </tr>
            <tr>
                <th>CompanyILotNum</th>
                <td>{{ artisan.companyILotNum }}</td>
            </tr>
            <tr>
                <th>CompanyTotalMen</th>
                <td>{{ artisan.companyTotalMen }}</td>
            </tr>
            <tr>
                <th>CompanyTotalWomen</th>
                <td>{{ artisan.companyTotalWomen }}</td>
            </tr>
            <tr>
                <th>CompanyTotalMenApprentis</th>
                <td>{{ artisan.companyTotalMenApprentis }}</td>
            </tr>
            <tr>
                <th>CompanyTotalWomenApprentis</th>
                <td>{{ artisan.companyTotalWomenApprentis }}</td>
            </tr>
            <tr>
                <th>NumCompteContribuableEtabl</th>
                <td>{{ artisan.numCompteContribuableEtabl }}</td>
            </tr>
            <tr>
                <th>ReprLastName</th>
                <td>{{ artisan.reprLastName }}</td>
            </tr>
            <tr>
                <th>ReprFirstName</th>
                <td>{{ artisan.reprFirstName }}</td>
            </tr>
            <tr>
                <th>ReprQualification</th>
                <td>{{ artisan.reprQualification }}</td>
            </tr>
            <tr>
                <th>ReprSex</th>
                <td>{{ artisan.reprSex }}</td>
            </tr>
            <tr>
                <th>ReprIDType</th>
                <td>{{ artisan.reprIDType }}</td>
            </tr>
            <tr>
                <th>ReprIDNum</th>
                <td>{{ artisan.reprIDNum }}</td>
            </tr>
            <tr>
                <th>ReprIDDeliveryPlace</th>
                <td>{{ artisan.reprIDDeliveryPlace }}</td>
            </tr>
            <tr>
                <th>ReprTitle</th>
                <td>{{ artisan.reprTitle }}</td>
            </tr>
            <tr>
                <th>ReprTel</th>
                <td>{{ artisan.reprTel }}</td>
            </tr>
            <tr>
                <th>ReprEmail</th>
                <td>{{ artisan.reprEmail }}</td>
            </tr>
            <tr>
                <th>ReprLieuNais</th>
                <td>{{ artisan.reprLieuNais }}</td>
            </tr>
            <tr>
                <th>ReprEtatCivil</th>
                <td>{{ artisan.reprEtatCivil }}</td>
            </tr>
            <tr>
                <th>ReprDomicile</th>
                <td>{{ artisan.reprDomicile }}</td>
            </tr>
            <tr>
                <th>ReprIDDeliveryDate</th>
                <td>{{ artisan.reprIDDeliveryDate ? artisan.reprIDDeliveryDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ReprDateNais</th>
                <td>{{ artisan.reprDateNais ? artisan.reprDateNais|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DrivingLicenseNumber</th>
                <td>{{ artisan.drivingLicenseNumber }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ artisan.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ artisan.city }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ artisan.commune }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ artisan.quartier }}</td>
            </tr>
            <tr>
                <th>Whatsapp</th>
                <td>{{ artisan.whatsapp }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ artisan.company }}</td>
            </tr>
            <tr>
                <th>Partner_first_name</th>
                <td>{{ artisan.partnerFirstName }}</td>
            </tr>
            <tr>
                <th>Partner_last_name</th>
                <td>{{ artisan.partnerLastName }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ artisan.status }}</td>
            </tr>
            <tr>
                <th>PhotoPiece_front</th>
                <td>{{ artisan.photoPieceFront }}</td>
            </tr>
            <tr>
                <th>PhotoPiece_back</th>
                <td>{{ artisan.photoPieceBack }}</td>
            </tr>
            <tr>
                <th>PhotoPermis_front</th>
                <td>{{ artisan.photoPermisFront }}</td>
            </tr>
            <tr>
                <th>PhotoPermis_back</th>
                <td>{{ artisan.photoPermisBack }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ artisan.roles ? artisan.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ artisan.password }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ artisan.createdAt ? artisan.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ artisan.modifiedAt ? artisan.modifiedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ artisan.matricule }}</td>
            </tr>
            <tr>
                <th>Subscription_date</th>
                <td>{{ artisan.subscriptionDate ? artisan.subscriptionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Subscription_expire_date</th>
                <td>{{ artisan.subscriptionExpireDate ? artisan.subscriptionExpireDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ artisan.photo }}</td>
            </tr>
            <tr>
                <th>CardPhoto</th>
                <td>{{ artisan.cardPhoto }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ artisan.reference }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_artisan_index') }}">back to list</a>

    <a href="{{ path('app_artisan_edit', {'id': artisan.id}) }}">edit</a>

    {{ include('artisan/_delete_form.html.twig') }}
{% endblock %}
