<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-body p-5">
            {{ form_start(form, {'method': 'POST', 'attr': {'id': 'stepperform'}}) }}
            <h3>INFORMATIONS PERSONNELLES</h3>
            <fieldset>
                <div id="step0">
                    <div class="text-danger small mb-3">* champs obligatoires</div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            {{ form_row(form.sex) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.lastName) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.firstName) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ form_row(form.mobile) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.whatsapp) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.phone) }}
                        </div>

                    </div>
                    {{ form_row(form.email) }}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form_row(form.date_of_birth) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.birth_locality) }}
                        </div>
                    </div>
                </div>
            </fieldset>

            <h3>PIECE D'IDENTITE ET PERMIS DE CONDUIRE</h3>
            <fieldset>
                <div  id="step2">
                    <div class="row mb-3">
                        <div class="col-md-2">
                            {{ form_row(form.IdType) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.IdNumber) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.IdDeliveryDate) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.IdDeliveryAuthority) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.IdDeliveryPlace) }}
                        </div>
                    </div>
                    {{ form_row(form.drivingLicenseNumber) }}
                </div>
            </fieldset>

            <h3>CONFIRMATION</h3>
            <fieldset>
                <div  id="step2">
                    <div class="container d-flex justify-content-center">
                        <div class="text-center">
                            <div class="mb-4">
                                <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                            </div>
                            <div>
                                <h5>Attention!! nous allons procéder à l'enregistement de vos données.</h5>
                                <h5>Cliquer sur le bouton <strong>Terminer</strong> pour valider ou sur le bouton <strong>Précédent</strong> pour apporter des modifications.</h5>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            {{ form_end(form) }}
        </div>
        <!-- end card body -->
    </div>
</div>


