{% extends 'frontend/base.html.twig' %}

{% block title %}Accueil - SYNACVTCCI{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('assets/admin/css/app.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('assets/admin/libs/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">

    <style>
        .card-header {
            padding: 0;
        }

        .accordion-button {
            background-color: #fff;
            color: #222;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: -.5px;
            font-weight: 500;
            text-transform: capitalize;
            border: 1px solid #eee;
            padding: 3px 3px;
        }

        .card-body {
            padding: 0.2rem 0.2rem;
        }

        .accordion-body {
            padding: 0.5rem 0.75rem;
        }

        .form-control:focus {
            border-color: 0;
            box-shadow: none;
        }

        .wizard .steps > ul > li a {
            font-size: 12px;
            font-weight: bold;
            color: #000000;
        }

        .form-control, .form-select {
            padding: 0.275rem 0.55rem;
            font-size: 0.95rem;
            border-radius: 0rem;
        }

        .form-control:focus, .form-select:focus {
            outline: 0;
            box-shadow: none;
            border-color: #0701b9;
        }

        .col-form-label {
            padding-top: calc(0.375rem + 1px);
            padding-bottom: calc(0.375rem + 1px);
            margin-bottom: 0;
            font-size: 0.95rem;
            line-height: 1.5;
        }

        .form-check-label {
            font-size: 0.82rem;
        }

        .form-check-input {
            margin-top: 0.4em;
        }

        #field {
            margin-left: .5em;
            float: left;
        }

        #field, label {
            float: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }

        br {
            clear: both;
        }

        input {
            border: 1px solid black;
            margin-bottom: .5em;
        }

        input.error {
            border: 1px solid red;
        }

        label.error {
            padding-left: 0px;
            margin-left: 0em;
        }

        label.valid {
            display: block;
            width: 16px;
            height: 16px;
        }

        .select2 {
            min-width: 200px;
        }

        .select2 span.select2-selection__rendered,
        li.select2-results__option {
            font-size: 0.75rem;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #0701b9;
            font-size: 0.75rem;
        }

        input.select2-search__field {
            border: 1px solid black;
            margin-bottom: 0.0em;
        }

        @media (max-width: 768px) {
            .page-header-info h2 {
                font-size: 26px;
                line-height: 36px;
            }
        }

        label.required:after {
            content: " *";
            color: red;
        }

        .select2-container .select2-selection--single {
            height: 32px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 0px;
        }
    </style>
{% endblock %}

{% block body %}

    {{ include('frontend/_partials/header.html.twig') }}


    <section class="page-header">
        <div class="page-header-shape"></div>
        <div class="container">
            <div class="page-header-info">
                <h4>Formulaire d'adhésuion!</h4>
                <h2>Remplissez le formulaire d'adhésion et rejoignez la <span>SYNACVTCCI!</span></h2>
                <p>Faites nous confiance, nous défendons vos intérêts </p>
            </div>
        </div>
    </section>

    <div class="taxi-booking bg-white mb-3">
        {{ include('frontend/member/_form_stepper.html.twig') }}
    </div>


    <div class="modal fade" id="subscribeModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" id="modalclose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-4">
                        <div class="mx-auto mb-4">
                            <div>
                                <h2 class="text-primary">Information</h2>
                                <img src="{{ asset('assets/frontend/img/cnmci.png') }}" width="150" height="100">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <p style="text-align:justify;" class="text-muted font-size-20 mb-4" >Chez VétéCistes, Selon la convention signée entre la Chambre Nation des Métiers de Côte d'Ivoire et le SYNACVTCCI, toute la procedure d'enregistrement des chauffeurs VTC de Côte d'Ivoire à la chambre des métiers passe obligatoirement par le dit syndicat. Aussi, nous vous prions de bien vouloir remplir correctement ce formulaire et passé à nos bureau pour effectuer les paiements et les autres procédures nécessaires.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('frontend/_partials/footer.html.twig') }}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/frontend/js/vendor/jquery.datetimepicker.full.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery-steps/build/jquery.steps.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery.form/jquery.form.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery.validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery.validation/additional-methods.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/inputmask/dist/jquery.inputmask.bundle.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/select2/js/select2.min.js') }}"></script>
<script src="{{ asset('assets/frontend/js/vendor/bootstrap.min.js') }}"></script>
 <script>
      $('document').ready(function() {
        // $("#subscribeModal").show();
        // $("#modalclose").click(function(){
        //     $("#subscribeModal").hide();
        // });
        var form = $("#stepperform");

        form.steps({
            headerTag: "h3",
            bodyTag: "fieldset",
            transitionEffect: "slide",
            stepsOrientation: "horizontal",
            labels: {
                cancel: "Annuler",
                current: "Etape en cours:",
                pagination: "Pagination",
                finish: "Terminer",
                next: "Suivant",
                previous: "Précédent",
                loading: "Chargement ..."
            },
            onStepChanging: function (event, currentIndex, newIndex){
                // Always allow previous action even if the current form is not valid!
                if (currentIndex > newIndex){
                    return true;
                }
                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex){
                    // To remove error styles
                    form.find(".body:eq(" + newIndex + ") label.error").remove();
                    form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                }
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex){
            },
            onFinishing: function (event, currentIndex){
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex){
                 form.submit();
            }
        }).validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
            rules: {
            },
        });
        jQuery.extend(jQuery.validator.messages, {
            required: "Ce champ est obligatoire.",
            remote: "Please fix this field.",
            email: "Veuillez entrer une adresse email valide.",
            url: "Please enter a valid URL.",
            date: "Date invalide.",
            dateISO: "Please enter a valid date (ISO).",
            number: "Please enter a valid number.",
            digits: "Please enter only digits.",
            creditcard: "Please enter a valid credit card number.",
            equalTo: "Please enter the same value again.",
            accept: "Please enter a value with a valid extension.",
            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            minlength: jQuery.validator.format("Please enter at least {0} characters."),
            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
            min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
        });

          $('.js-datepicker').datetimepicker({
             timepicker:false,
             format:  'd/m/Y',
            // mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
          });

         $(".input-mask").inputmask();

         $(".select2").select2();
      });

  </script>
{% endblock %}
