{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('assets/admin/css/app.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('assets/admin/libs/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('assets/admin/libs/toastr/build/toastr.min.css') }}" type="text/css" rel="stylesheet">
    <style>
        .wizard .steps > ul > li a {
            font-size: 12px;
            font-weight: bold;
            color: #000000;
        }

        .form-control, .form-select {
            padding: 0.5rem 0.55rem;
            font-size: 0.95rem;
            color: #117b01;
            font-weight: bolder;
            border-radius: 0rem;
            border: 2px solid #ffbb00;
            text-transform: uppercase;
        }

        .form-control:focus, .form-select:focus {
            outline: 0;
            box-shadow: none;
            border-color: #ffbb00;
        }

        .col-form-label {
            padding-top: calc(0.375rem + 1px);
            padding-bottom: calc(0.375rem + 1px);
            margin-bottom: 0;
            font-size: 0.95rem;
            line-height: 1.5;
        }

        .form-label {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
            font-weight: bold;
            color: #2a3042;
        }

        .form-check-label {
            font-size: 0.82rem;
        }

        .form-check-input {
            margin-top: 0.4em;
        }

        #field {
            margin-left: .5em;
            float: left;
        }

        #field, label {
            float: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }

        br {
            clear: both;
        }

        input {
            border: 1px solid black;
            margin-bottom: .5em;
        }

        input.error {
            border: 1px solid red;
        }

        label.error {
            padding-left: 0px;
            margin-left: 0em;
        }

        label.valid {
            display: block;
            width: 16px;
            height: 16px;
        }

        .select2 span.select2-selection__rendered,
        li.select2-results__option {
            font-size: 1.05rem;
            color: #117b01;
            font-weight: bolder;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #117b01;
            /*font-size: 0.75rem;*/
            font-size: 1.05rem;
            color: #fff;
            font-weight: bolder;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #117b01;
            line-height: 28px;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid #ffbb00;
            border-radius: 4px;
            cursor: text;
            min-height: 50px;
        }

        .select2-container .select2-selection--single {
            height: 41px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 2px solid #ffbb00;
            border-radius: 0px;
        }

        input.select2-search__field {
            border: 1px solid black;
            margin-bottom: 0.0em;
        }


        @media (max-width: 768px) {
            .page-header-info h2 {
                font-size: 26px;
                line-height: 36px;
            }
        }

        label.required:after {
            content: " *";
            color: red;
        }


        #stepperform h3{
            background: linear-gradient(59deg, rgba(252,114,0,1) 9%, rgba(244,130,0,0.8855917366946778) 32%, rgba(62,146,60,0.9398113905325444) 69%, rgba(4,113,2,1) 95%);
            padding: 8px 8px;
            color: white;
            font-size: 16px;
        }

        fieldset > div {
            padding: 10px 25px;
            margin-top: 5px;
        }

        .image-upload-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 450px;
            min-height: 200px;
            margin: auto;
            border: 1px dashed #adb5bd;
            padding: 10px 10px;
        }

        .form-check-input[type=checkbox] {
            margin-top: 0.4em;
            width: 1.5rem;
            height: 1.5rem;
        }

        .form-check-input:checked {
            background-color: #ffbb00;
            border-color: #ffbb00;
        }

        .form-check-label {
            margin-left: 10px;
            margin-top: 10px;
            font-size: 0.8rem;
            font-weight: bold;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="row mb-4">
                <div class="d-flex justify-content-between">
                    <img src="{{ asset('assets/frontend/img/cnmci.png') }}" width="100" height="85" alt="logo cnmci"/>
                    <img src="{{ asset('assets/frontend/img/logo-synacvtcci.jpg') }}" width="100" height="85" alt="logo synacvtcci"/>
                </div>
            </div>
            <div class="card">
                <div class="alert alert-info d-flex justify-content-center align-items-center flex-column">
                    <img src="{{ asset('assets/frontend/img/wave-logo.svg') }}" alt="wave logo" width="90" class="py-3">
                    <h5>Vous vous apprêtez à effectuer un paiement de</h5>
                    <h2 class="fw-bold fs-2">{{ montant }}</h2>
                    <p>Veuillez conserver votre reçu de paiement à la fin du processus.</p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{{ path('admin_index') }}" class="btn btn-success mx-2">Annuler</a>
                    <a href="{{ path('do_public_payment', {id: id, montant: montant }) }}" class="btn btn-success">Payer maintenant</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/frontend/js/vendor/jquery.datetimepicker.full.js') }}"></script>
<script src="{{ asset('assets/admin/libs/select2/js/select2.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/toastr/build/toastr.min.js') }}"></script>
<script>
      $('document').ready(function() {
          $(".input-mask").inputmask();

          $(".select2").select2();
      });
  </script>

{% endblock %}


