<footer class="site-footer">
    <div class="container">
        <div class="site-footer__top clearfix">
            <section class="col col-md-3 region region-footer-first">
                <nav role="navigation" aria-labelledby="block-nafr-footer-menu" id="block-nafr-footer" class="block block-menu navigation menu--footer">

                    <h2 id="block-nafr-footer-menu">EN BREF</h2>

                    <ul class="clearfix nav navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('missions') }}"  class="nav-link">Nos missions</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('activities') }}"  class="nav-link">Nos activités</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('avantages') }}" class="nav-link">Avantages aux membres</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('ecommerce_index') }}" class="nav-link">E-Boutique</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('insurance') }}" class="nav-link">Couverture maladie</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Protection juridique</a>
                        </li>
                    </ul>
                </nav>

            </section>

            <section class="col col-md-5 region region-footer-second">
                <div class="block block-block-content block-block-content1137534f-8b0c-45c6-9356-07dbec2a4dec">

                    <h2>ADHÉREZ À LA FENAPALCI</h2>

                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>Prêt à devenir membre?</p>
                            <p>
                                <a class="btn btn-primary" href="">Adhérez à la fédération!</a>
                            </p>
                        </div>

                    </div>
                </div>

            </section>

            <section class="col region region-footer-third">
                <div id="block-getintouch" class="block block-block-content block-block-content70d11b32-e0ab-4b54-8b9d-f1f5ccb822c4">
                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <h2><a href="">NOUS JOINDRE</a></h2>
                            <p>
                                <strong><a href="mailto:service@retraitesfederaux.ca">info@fenapalci.org</a></strong>
                            </p>
                            <p><strong>1.855.304.4700</strong></p>
                            <p><strong>1.855.304.4700</strong></p>
                            <p><strong>1.855.304.4700</strong></p>

                            <p>T | 613.745.2559<br/>F | 613.745.5457</p>
                            <p>T | 613.745.2559<br/>F | 613.745.5457</p>
                            <p>T | 613.745.2559<br/>F | 613.745.5457</p>
                        </div>

                    </div>
                </div>
            </section>

            <section class="col region region-footer-fourth">
                <div id="block-followus" class="block block-block-content block-block-contentbb6b9a8a-35fc-451d-8774-c670e5419e3a">
                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <h2>
                                <a href="">SUIVEZ NOUS</a>
                            </h2>
                            <ul class="social-links">
                                <li class="facebook-link">
                                    <a href="" target="blank">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="twitter-link">
                                    <a href="" target="blank">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="linkedin-link">
                                    <a href="" target="blank">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <section class="row region region-footer-fifth">
                <div id="block-copyright" class="block block-block-content">
                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>© Fédération Nationale des Associations des Professionnels des espaces d'Animations, de restaurations et de Loisirs de Côte d'Ivoire</p>
                        </div>
                    </div>
                </div>
                <div id="block-privacylegaldisclaimer"
                     class="block block-block-content block-block-content6fb79ad8-706b-4b35-8ebc-204e17933692">

                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>
                                <a href="">Confidentialité</a> | <a href="">Avis de non-responsabilité civile</a>
                            </p>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</footer>