<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="synacvtcci">
    <meta name="author" content="synacvtcci">
    <title>{% block title %}Accueil - SYNACVTCCI{% endblock %}</title>
    {% block stylesheet %}
        <link  href="{{ asset('assets/frontend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link  href="{{ asset('assets/frontend/css/animate.min.css') }}" rel="stylesheet" type="text/css">
        <link  href="{{ asset('assets/frontend/css/fontawesome.min.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/line-awesome.min.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/keyframe-animation.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/jquery.datetimepicker.min.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/venobox.min.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/swiper.min.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/elements.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/header.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/slider.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/blog.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/main.css') }}" rel="stylesheet" type="text/css" >
        <link  href="{{ asset('assets/frontend/css/responsive.css') }}" rel="stylesheet" type="text/css" >
        <style>
            .wizard .steps .current a, .wizard .steps .current a:active, .wizard .steps .current a:hover {
                background-color: transparent !important;
                color: #0701b9 !important;
            }
            .wizard .steps>ul>li a {
                background-color: transparent !important;
                cursor: pointer;
            }
            .wizard .steps .number{
                font-size: 16px !important;
                border: 2px solid #0701b9 !important;
            }
            .wizard .steps li.current a span.number{
                background-color: #0701b9;
            }
            .wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover {
                background-color: #0701b9 !important;
                border-radius: 0px !important;
                padding: 6px 24px !important;
                color: #fff !important;
            }
        </style>
    {% endblock %}
</head>

<body>

{% block body %}


{% endblock %}


{% block javascript %}
    <script src="{{ asset('assets/frontend/js/vendor/jquary-3.6.0.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/popper.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/jquery.newsTicker.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/venobox.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/smooth-scroll.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/vendor/wow.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/book-ride.js') }}"></script>
    <script src="{{ asset('assets/frontend/js/main.js') }}"></script>
    {#<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>#}
{% endblock %}

</body>

</html>
