<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="synacvtcci">
    <meta name="author" content="synacvtcci">
    <title>{% block title %}Accueil - SYNACVTCCI{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('frontend/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/line-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/keyframe-animation.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/jquery.datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/venobox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/swiper.min.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/elements.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/slider.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/blog.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/responsive.css') }}">
    {% endblock %}
</head>

<body>

{% block body %}


{% endblock %}


{% block javascript %}
<script src="{{ asset('frontend/js/vendor/jquary-3.6.0.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/popper.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/jquery.datetimepicker.full.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/venobox.min.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/smooth-scroll.js') }}"></script>
    <script src="{{ asset('frontend/js/vendor/wow.min.js') }}"></script>
    <script src="{{ asset('frontend/js/book-ride.js') }}"></script>
    <script src="{{ asset('frontend/js/main.js') }}"></script>
    {#<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>#}
{% endblock %}

</body>

</html>
