{% extends 'frontend/base.html.twig' %}

{% block title %}Accueil - SYNACVTCCI{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
    </p><![endif]-->
    <div class="site-preloader">
        <div class="car">
            <div class="strike"></div>
            <div class="strike strike2"></div>
            <div class="strike strike3"></div>
            <div class="strike strike4"></div>
            <div class="strike strike5"></div>
            <div class="car-detail spoiler"></div>
            <div class="car-detail back"></div>
            <div class="car-detail center"></div>
            <div class="car-detail center1"></div>
            <div class="car-detail front"></div>
            <div class="car-detail wheel"></div>
            <div class="car-detail wheel wheel2"></div>
        </div>
    </div>

    <header class="main-header">
        <div class="top-header">
            <div class="container">
                <div class="top-header-wrap">
                    <div class="top-left">
                        <p class="topbar-content">
                            <i class="icon-phone" style="margin: 0 7px 0 0"></i> +225 01 02 68 87 88  <i class="icon-envelope-letter" style="margin: 0 7px"></i>info@synacvtcci.net
                        </p>
                    </div>
                    <div class="top-right">
                        <ul class="top-header-nav">
                            <li><a href="{{ asset('home') }}">Aide</a></li>
                            <li><a href="{{ asset('home') }}">FAQ</a></li>
                        </ul>
                        <ul class="header-social-share">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="mid-header">
            <div class="container">
                <div class="mid-header-wrap">
                    <div class="site-logo">
                        <a href="{{ asset('home') }}"><img width="120" src="{{ asset('assets/frontend/img/logo-synacvtcci.jpg') }}" alt="Logo"></a>
                    </div>

                    <ul class="header-info">
                        <li>
                            <div class="header-info-icon">
                                <i class="las la-phone-volume"></i>
                            </div>
                            <div class="header-info-text">
                                <h3><span>Info line</span><a href="tel:5267214392">+225 01 02 68 87 88</a></h3>
                            </div>
                        </li>
                        <li>
                            <div class="header-info-icon">
                                <i class="las la-envelope-open"></i>
                            </div>
                            <div class="header-info-text">
                                <h3><span>Email</span>
                                    <a href="{{ asset('home') }}" class="__cf_email__" data-cfemail="1851767e77366a717c7d735875797174367b7775">info@synacvtcci.net</a>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <div class="header-info-icon">
                                <i class="las la-map-marked-alt"></i>
                            </div>
                            <div class="header-info-text">
                                <h3><span>Riviera</span>palmeraie</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nav-menu-wrapper">
            <div class="container">
                <div class="nav-menu-inner">
                    <div class="site-logo">
                        <a href="href="{{ asset('home') }}"><img src="{{ asset('assets/frontend/img/logo-dark.png') }}" alt="Logo"></a>
                    </div>

                    <div class="header-menu-wrap">
                        <ul class="nav-menu">
                            <li class="active dropdown_menu">
                                <a href="{{ asset('home') }}">Accueil</a>
                            </li>
                            <li class="dropdown_menu">
                                <a href="{{ asset('home') }}">Qui sommes-nous ?</a>
                            </li>
                            <li class="dropdown_menu">
                                <a href="{{ asset('home') }}">Blog</a>
                            </li>
                            <li class="dropdown_menu">
                                <a href="{{ asset('home') }}">Adhérer</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-right-item">
                        <div class="search-icon dl-search-icon">
                            <i class="las la-search"></i>
                        </div>
                        <div class="sidebox-icon dl-sidebox-icon">
                            <i class="las la-bars"></i>
                        </div>
                        <a href="{{ asset('register') }}" class="menu-btn">Rejoins-nous</a>
                    </div>
                    <div class="mobile-menu-icon">
                        <div class="burger-menu">
                            <div class="line-menu line-half first-line"></div>
                            <div class="line-menu"></div>
                            <div class="line-menu line-half last-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div id="popup-search-box">
        <div class="box-inner-wrap d-flex align-items-center">
            <form id="form" action="#" method="get" role="search">
                <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
                <button id="popup-search-button" type="submit" name="submit">
                    <i class="las la-search"></i>
                </button>
            </form>
            <div class="search-close"><i class="las la-times"></i></div>
        </div>
    </div>

    <div id="searchbox-overlay"></div>
    <div id="popup-sidebox" class="popup-sidebox">
        <div class="sidebox-content">
            <div class="site-logo">
                <a href="index.html"><img src="{{ asset('assets/frontend/img/logo-light.png') }}" alt="logo"></a>
            </div>
        </div>
    </div>

    <div id="sidebox-overlay"></div>
    <div class="slider-section">
        <div class="main-slider-2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-img">
                        <img src="{{ asset('assets/frontend/img/slider-bg-1.jpg') }}" alt="img" class="kenburns" style="animation-duration: 12000ms; ">
                    </div>
                    <div class="slider-content-wrap d-flex align-items-center text-left">
                        <div class="container">
                            <div class="slider-content text-center pb-60">
                                <div class="slider-caption medium">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.3s">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption big">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.5s" style="text-shadow: 6px 0px black;">
                                            Syndicat National <br> des Chauffeurs VTC <br> de Côte d'Ivoire.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption small">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">
                                            Chauffeurs de VTC en Côte d’Ivoire, votre syndicat est enfin là!<br>
                                            N’attendez plus pour vous inscrire et profiter des avantages liés au SYNACVTCCI.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-btn">
                                    <a href="{{ path('home') }}" class="default-btn" data-animation="fade-in-bottom"
                                       data-delay="0.9s">En savoir + </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-img">
                        <img src="{{ asset('assets/frontend/img/slider-bg-2.jpg') }}" alt="img" class="kenburns" style="animation-duration: 12000ms; ">
                    </div>
                    <div class="slider-content-wrap d-flex align-items-center text-left">
                        <div class="container">
                            <div class="slider-content text-center pb-60">
                                <div class="slider-caption medium">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.3s">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption big">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.5s" style="text-shadow: 6px 0px black;">
                                            Syndicat National <br> des Chauffeurs VTC <br> de Côte d'Ivoire.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption small">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">
                                            Chauffeurs de VTC en Côte d’Ivoire, votre syndicat est enfin là!<br>
                                            N’attendez plus pour vous inscrire et profiter des avantages liés au SYNACVTCCI.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-btn">
                                    <a href="{{ path('home') }}" class="default-btn" data-animation="fade-in-bottom"
                                       data-delay="0.9s">En savoir + </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-img">
                        <img src="{{ asset('assets/frontend/img/slider-bg-3.jpg') }}" alt="img" class="kenburns" style="animation-duration: 12000ms; ">
                    </div>
                    <div class="slider-content-wrap d-flex align-items-center text-left">
                        <div class="container">
                            <div class="slider-content text-center pb-60">
                                <div class="slider-caption medium">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.3s">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption big">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.5s" style="text-shadow: 6px 0px black;">
                                            Syndicat National <br> des Chauffeurs VTC <br> de Côte d'Ivoire.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption small">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">
                                            Chauffeurs de VTC en Côte d’Ivoire, votre syndicat est enfin là!<br>
                                            N’attendez plus pour vous inscrire et profiter des avantages liés au SYNACVTCCI.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-btn">
                                    <a href="{{ path('home') }}" class="default-btn" data-animation="fade-in-bottom"
                                       data-delay="0.9s">En savoir + </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
            <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
        </div>
    </div>

    <section class="booking-section-2">
        <div class="container">
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fade-in-bottom;">
                <h2 class="title"><span></span>Pourquoi adhérer au SYNACVTCCI?</h2>
                <p class="text-black">Soucieux de défendre les intérêts matériels et moraux et de promouvoir la solidarité au sein des chauffeurs VTC de Côte d'Ivoire, le SYNACVTCCI a été créé en Juin 2021 pour accompagner les chauffeurs VTC en Côte d'Ivoire.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                                <img src="{{ asset('/assets/frontend/img/icon01.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous défendons vos intérêts</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Le syndicat œuvre pour défendre les intérêts matériels et moraux de ses membres en tous lieux et en toutes circonstances
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                            <img src="{{ asset('/assets/frontend/img/icon02.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous sommes solidaires</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Le syndicat s’est donné pour objectif de créer et d’entretenir entre ses membres un esprit de solidarité
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                            <img src="{{ asset('/assets/frontend/img/icon03.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous vous représentons</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Le syndicat a pour rôle de représenter ses adhérents auprès du patronat et des autorités compétentes et de façon générale, partout où besoin sera                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                            <img src="{{ asset('/assets/frontend/img/icon04.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous pensons à votre bien-être</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Le syndicat a pour objet de créer et gérer des activités à caractère social, culturel et économique en faveur de ses membres
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-section bg-grey padding">
        <div class="bg-half"></div>
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Activités</h4>
                <h2 class="white">Suivez en images, les activités de votre syndicat<br></h2>
                <p>Le bureau de la SYNACVTCCI est toujours ne manage aucun effort pour le bien être de ses memebres.</p>
            </div>

            <div class="swiper-outside">
                <div class="service-carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1.jpeg') }}" alt="img">
{#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Signature d’une convention avec l’assurance BIAM</a></h3>
                                    <p>A l’instar de la maison d’assurance maladie Vitalis Santé, le...</p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="img">
                                    {#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Le SYNACVTCCI apporte son assistance au chauffeur victime d’agression</a></h3>
                                    <p>Le Syndicat National des Chauffeurs VTC de Côte d’Ivoire a...</p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-07-at-16.05.13.jpeg') }}" alt="img">
                                    {#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Communiqué du SYNACVTCCI suite à la bastonnade du chauffeur de Yango</a></h3>
                                    <p>Dans la matinée de ce mardi 15 mars 2022, dans...</p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/vitalis.png') }}" alt="img">
                                    {#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Le SYNCAVTCCI signe une convention avec la maison d’assurance Vitalis Santé (Business 24)</a></h3>
                                    <p>Dans le cadre de ses prérogatives, le syndicat a signé...
                                    </p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
                <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
            </div>
        </div>
    </section>

    <section class="cta-section-2 padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="cta-content">
                        <h4>Le bureau!</h4>
                        <h2>Composition du Bureau SYNACVTCCI!</h2>
                        <a href="{{ path('home') }}" class="default-btn">+ de details</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <ul class="check-list">
                        <li><i class="las la-arrow-right"></i>Un Secrétaire Général.</li>
                        <li><i class="las la-arrow-right"></i>Un Secrétaire Général Adjoint.</li>
                        <li><i class="las la-arrow-right"></i>Un Secrétaire National aux finances.</li>
                        <li><i class="las la-arrow-right"></i>Une Présidente du Comité des Femmes.</li>
                        <li><i class="las la-arrow-right"></i>Un(e)  Président(e) du Comité des Jeunes.</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div class="cta-men wow fade-in-right" data-wow-delay="200ms"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-section bg-grey bd-bottom padding">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Synaccvtci en images</h4>
                <h2>Galerie Photo</h2>
                <p>Quelques photos des récentes activités menées dans l'exécution de notre cahier des charges.</p>
            </div>

            <ul class="nav pricing-tab-menu" id="pricing-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="hybrid-taxi" data-bs-toggle="tab"
                            data-bs-target="#hybrid-taxi-content" type="button" role="tab"
                            aria-controls="hybrid-taxi-content" aria-selected="true">2021
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="town-taxt" data-bs-toggle="tab" data-bs-target="#town-taxi-content"
                            type="button" role="tab" aria-controls="town-taxi-content" aria-selected="false">2022
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="limousine-taxi" data-bs-toggle="tab"
                            data-bs-target="#limousine-taxi-content" type="button" role="tab"
                            aria-controls="limousine-taxi-content" aria-selected="false">2023
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="pricing-tab-content">
                <div class="tab-pane fade show active" id="hybrid-taxi-content" role="tabpanel"
                     aria-labelledby="hybrid-taxi">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-5.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1-600x480.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Signature partenariat avec BIAM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="town-taxi-content" role="tabpanel" aria-labelledby="town-taxi-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-5.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1-600x480.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Signature partenariat avec BIAM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="limousine-taxi-content" role="tabpanel" aria-labelledby="limousine-taxi">                    <div class="row">
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-5.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1-600x480.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Signature partenariat avec BIAM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="download-section-2 padding">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h4><span></span>Application mobile</h4>
                        <h2>SYNACVTCCI CHAT  votre Application de messagerie!</h2>
                        <p>Cette application disponible sur playstore permet au memebres du syndicat de discuter en temps reél sur des préoccupation ..</p>
                        <div class="download-btn">
                            <a href="#"><img src="{{ asset('assets/frontend/img/google-play.svg') }}" alt="PlayStore"></a>
                            <a href="#"><img src="{{ asset('assets/frontend/img/app-store.svg') }}" alt="AppStore"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-lg-block">
                    <div class="download-mockup wow fade-in-bottom" data-wow-delay="200ms"></div>
                    <div class="app-screen wow fade-in-bottom" data-wow-delay="400ms">
                        <img src="{{ asset('assets/frontend/img/mockup.png') }}" alt="" style="width: 440px;height: 471px;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-section padding">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Le Synacvtcci c'est </h4>
                <h2>Un réseau de chaufeurs professionnels</h2>
                <p>Notre politique d'excellence, nous engage à assurer <br>à nos membres des formations continues.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-1.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Touré Ahmed</a></h3>
                            <h4>20 années d'experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-2.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Félix Kouassi</a></h3>
                            <h4>5 années d'experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-1.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Félix Kouassi</a></h3>
                            <h4>20 années d'experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-2.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Félix Kouassi</a></h3>
                            <h4>20 années d'experience</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-section bd-bottom bg-grey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-heading mb-10">
                        <h4><span></span>Temoignagnes memebres </h4>
                        <h2>Ce que disent nos chauffeurs syndiqués...</h2>
                        <p>Nos construisons ensemble un syndicat fort pour la défense des chauffeurs VTC de Côte d'Ivoire.</p>
                    </div>
                    <div class="swiper-outside testi-pagination">
                        <div class="testimonial-carousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p>Le synacvtcci est le syndicat qui protège nos intérèts et prends en compte nos préoccupations. C'est une fierté pour moi de faire partie de cette famille</p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="{{ asset('assets/frontend/img/comment-1.jpg') }}" alt="author">
                                            </div>
                                            <div class="author-info">
                                                <h3>Bah Abdoul Rahamane <span>Chaffeur VTC ,yango</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p>Le synacvtcci est le syndicat qui protège nos intérèts et prends en compte nos préoccupations. C'est une fierté pour moi de faire partie de cette famille</p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="{{ asset('assets/frontend/img/comment-1.jpg') }}" alt="author">
                                            </div>
                                            <div class="author-info">
                                                <h3>Bah Abdoul Rahamane <span>Chaffeur VTC ,yango</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p>Le synacvtcci est le syndicat qui protège nos intérèts et prends en compte nos préoccupations. C'est une fierté pour moi de faire partie de cette famille</p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="{{ asset('assets/frontend/img/comment-1.jpg') }}" alt="author">
                                            </div>
                                            <div class="author-info">
                                                <h3>Bah Abdoul Rahamane <span>Chaffeur VTC ,yango</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-wrap">
                        <div class="section-heading mb-30 wow fade-in-right" data-wow-delay="200ms">
                            <h4 class="white"><span></span>Le SYNACVTCCI c'est!</h4>
                            <h2 class="white">Pourquoi notre syndicat?</h2>
                            <p class="white">.</p>
                        </div>

                        <ul class="ridek-features">
                            <li class="wow fade-in-right" data-wow-delay="300ms">
                                <div class="feature-icon">
                                    <i class="las la-gem"></i>
                                </div>
                                <div class="feature-content">
                                    <h3>Qualité de service</h3>
                                    <p>Nous formons nos syndiqués à la <br> qualité de service!</p>
                                </div>
                            </li>
                            <li class="wow fade-in-right" data-wow-delay="400ms">
                                <div class="feature-icon">
                                    <i class="las la-taxi"></i>
                                </div>
                                <div class="feature-content">
                                    <h3>Respect du temps</h3>
                                    <p>Le temps, c'est de l'argent <br> nos chauffeurs prennent en compte cela!</p>
                                </div>
                            </li>
                            <li class="wow fade-in-right" data-wow-delay="500ms">
                                <div class="feature-icon">
                                    <i class="las la-tachometer-alt"></i>
                                </div>
                                <div class="feature-content">
                                    <h3>Rapide et efficace</h3>
                                    <p>Rapidité et efficace sont nos <br> maîtres mots!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-section bg-grey padding">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Ils nous font confiances!</h4>
                <h2>Partenaires!</h2>
                <p>.</p>
            </div>

            <div class="row grid-post">
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="{{ asset('assets/frontend/img/05/biam-logo.jpg') }}" alt="post">
                            <a href="blog-details.html" class="post-category">BIAM</a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i></li>
                                <li><i class="las la-user"></i></li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="blog-details.html" class="hover">Missions</a>
                                </h3>
                                <p>BIAM s’est assignée pour mission de contribuer au bien-être social sanitaire de ses adhérents et de leurs ayants droits, par un système efficient de couverture des risques sociaux liés à la personne et à la réparation de leurs conséquences....</p>
                                <a href="http://www.biam-assistancemedicale.com/mission.php" class="read-more">En savoir +</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="{{ asset('assets/frontend/img/05/cnps-logo.jpg') }}" alt="post">
                            <a href="https://www.cnps.ci/" class="post-category">CNPS</a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i></li>
                                <li><i class="las la-user"></i></li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="https://www.cnps.ci/" class="hover">Missions</a>
                                </h3>
                                <p>La CNPS a pour objectif la gestion obligatoire du régime de protection sociale des travailleurs du secteur privé et assimilés et des travailleurs indépendants...</p>
                                <a href="https://www.cnps.ci/" class="read-more">En savoir +</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="{{ asset('assets/frontend/img/05/vitalis-sante-logo.png') }}" alt="post">
                            <a href="https://www.vitalis-ci.com/" class="post-category">VITAL SANTE</a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i></li>
                                <li><i class="las la-user"></i></li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="https://www.vitalis-ci.com/" class="hover">Missions</a>
                                </h3>
                                <p>
                                    Vitalis Santé est plus qu'une simple Agence d'assurance santé. Nous sommes là pour alléger la vie de nos clients, car après tout, c'est ce que nous savons faire depuis 2020.....</p>
                                <a href="https://www.vitalis-ci.com/" class="read-more">En savoir +</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section">
        <div class="footer-top-wrap">
            <div class="container">
                <div class="footer-top">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="brand">
                                <a class="footer-logo" href="index.html">
                                    <img src="{{ asset('assets/frontend/img/logo-light.png') }}" alt="logo"></a>
                                <p>Chauffeurs de VTC en Côte d’Ivoire, votre syndicat est enfin là.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-call">
                                <i class="las la-phone-volume"></i>
                                <p><span>Infoline</span><a href="tel:2722286516">+225 27 22 28 65 16</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-mid-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 sm-padding">
                        <div class="footer-item">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 sm-padding">
                        <div class="footer-item footer-list">
                            <div class="widget-title">
                                <h3>Liens</h3>
                            </div>
                            <ul class="footer-links">
                                <li><a href="{{ path('home')}}">Accueil</a></li>
                                <li><a href="{{ path('home')}}">Qui sommes-nous ?</a></li>
                                <li><a href="{{ path('home')}}">Blog</a></li>
                                <li><a href="{{ path('home')}}">Adherer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 sm-padding">
                        <div class="footer-item">
                            <div class="widget-title">
                                <h3>Notre Siège</h3>
                            </div>
                            <ul class="footer-contact">
                                <li><span>Situation:</span>Riviera palmeraie</li>
                                <li>
                                    <span>Contact:</span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a6efc8c0c9e6ffc9d3d4e1cbc7cfca949288c5c9cb">[email&#160;protected]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 sm-padding">
                        <div class="footer-item subscribe-wrap">
                            <div class="widget-title">
                                <h3>Notre boîte aux lettres</h3>
                            </div>
                            <form action="#" class="subscribe-form">
                                <input class="form-control" type="email" name="email" placeholder="Votre Email"
                                       required="">
                                <input type="hidden" name="action" value="mailchimpsubscribe">
                                <button class="submit">Souscrire maintenant</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="running-taxi">
                <div class="taxi"></div>
                <div class="taxi-2"></div>
                <div class="taxi-3"></div>
            </div>
        </div>

        <div class="copyright-wrap">
            <div class="container">
                <p>© <span id="currentYear"></span> synactvtcci tous droits reservés.</p>
            </div>
        </div>

    </footer>

    <div id="scrollup">
        <button id="scroll-top" class="scroll-to-top">
            <i class="las la-arrow-up"></i>
        </button>
    </div>

    <div class="dl-cursor">
        <div class="cursor-icon-holder"><i class="las la-times"></i></div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
          $("#registration_form_photo").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#imagePreview').attr('src', evt.target.result);
                  $('#imagePreview').fadeIn(650);
              }
          });
      });

  </script>
{% endblock %}
