{% extends 'frontend/base.html.twig' %}

{% block title %}Accueil - SYNACVTCCI{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ include('frontend/_partials/header.html.twig') }}


    <div class="slider-section">
        <div class="main-slider-2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-img">
                        <img src="{{ asset('assets/frontend/img/slider-bg-1.jpg') }}" alt="img" class="kenburns" style="animation-duration: 12000ms; ">
                    </div>
                    <div class="slider-content-wrap d-flex align-items-center text-left">
                        <div class="container">
                            <div class="slider-content text-center pb-60">
                                <div class="slider-caption medium">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.3s">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption big">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.5s" style="text-shadow: 6px 0px black;">
                                            Syndicat National <br> des Chauffeurs VTC <br> de Côte d'Ivoire.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption small">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">
                                            Chauffeurs de VTC en Côte d’Ivoire, votre syndicat est enfin là!<br>
                                            N’attendez plus pour vous inscrire et profiter des avantages liés au SYNACVTCCI.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-btn">
                                    <a href="{{ path('home') }}" class="default-btn" data-animation="fade-in-bottom"
                                       data-delay="0.9s">En savoir + </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-img">
                        <img src="{{ asset('assets/frontend/img/slider-bg-2.jpg') }}" alt="img" class="kenburns" style="animation-duration: 12000ms; ">
                    </div>
                    <div class="slider-content-wrap d-flex align-items-center text-left">
                        <div class="container">
                            <div class="slider-content text-center pb-60">
                                <div class="slider-caption medium">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.3s">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption big">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.5s" style="text-shadow: 6px 0px black;">
                                            Vétécistes <br> de Côte d'Ivoire.
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-caption small">
                                    <div class="inner-layer">
                                        <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">
                                            Votre Syndicat est enfin là ! <br>
                                            N’attendez plus pour vous inscrire et profiter des avantages liés au SYNACVTCCI !
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-btn">
                                    <a href="{{ path('home') }}" class="default-btn" data-animation="fade-in-bottom"
                                       data-delay="0.9s">En savoir + </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
            <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
        </div>
    </div>

    <section class="booking-section-2">
        <div class="container">
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fade-in-bottom;">
                <h2 class="title"><span></span>Pourquoi adhérer au SYNACVTCCI?</h2>
                <p class="text-black">Soucieux de défendre leurs intérêts matériels et moraux et de promouvoir la solidarité en leur sein, les vétécistes de Côte d’Ivoire, réunis en Congrès ordinaire les 26 et 27 juin 2018, ont créé le Syndicat National des Chauffeurs VTC de Côte d’Ivoire (SYNACVTCCI), conformément à la loi n° 95-15 du 12 janvier 1995 relative aux syndicats et la loi n° 2015-532 du 20 juillet 2015 portant Code du travail..</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                                <img src="{{ asset('/assets/frontend/img/icon01.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous défendons vos intérêts</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Le Syndicat National des Chauffeurs VTC de Côte d’Ivoire (SYNACVTCCI) centralise vos revendications et assure la défense de vos droits et intérêts professionnels, et améliore votre situation matérielle et morale.                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                            <img src="{{ asset('/assets/frontend/img/icon02.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous sommes solidaires</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Le Syndicat National des Chauffeurs VTC de Côte d’Ivoire (SYNACVTCCI) établit des liens de solidarité entre ses adhérents, promeut le développement et l’animation syndicale ainsi que la formation de ses élus et représentants, coordonne et organise pour tous ses membres des actions à caractère général et favorise le développement.                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                            <img src="{{ asset('/assets/frontend/img/icon03.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous vous représentons</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Pour atteindre ses buts, le SYNACVTCCI se donne les moyens d’établir des relations franches et permanentes avec les autorités compétentes, de faire des suggestions ou des revendications adressées aux autorités, d’informer et de former ses membres ainsi que tous les autres moyens légaux (droit de grève, d’ester en justice, etc.)                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="box-item">
                        <div class="title">
                            <img src="{{ asset('/assets/frontend/img/icon04.png') }}" width="100" alt="car">
                        </div>
                        <div class="head">
                            <h3><a href="taxi-details.html">Nous pensons à votre bien-être</a></h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list">
                            <li>
                                Le Syndicat National des Chauffeurs VTC de Côte d’Ivoire (SYNACVTCCI) crée et gère des activités à caractère social, culturel et économique en faveur de ses membres.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-section bg-grey padding">
        <div class="bg-half"></div>
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Activités</h4>
                <h2 class="white">Suivez en images, les activités du syndicat<br></h2>
                <p>Le bureau de la SYNACVTCCI est toujours ne manage aucun effort pour le bien être de ses memebres.</p>
            </div>

            <div class="swiper-outside">
                <div class="service-carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1.jpeg') }}" alt="img">
                                    {#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Signature d’une convention avec l’assurance BIAM</a></h3>
                                    <p>A l’instar de la maison d’assurance maladie Vitalis Santé, le...</p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="img">
                                    {#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Le SYNACVTCCI apporte son assistance au chauffeur victime d’agression</a></h3>
                                    <p>Le Syndicat National des Chauffeurs VTC de Côte d’Ivoire a...</p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-07-at-16.05.13.jpeg') }}" alt="img">
                                    {#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Communiqué du SYNACVTCCI suite à la bastonnade du chauffeur de Yango</a></h3>
                                    <p>Dans la matinée de ce mardi 15 mars 2022, dans...</p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb">
                                    <img src="{{ asset('assets/frontend/img/05/vitalis.png') }}" alt="img">
                                    {#                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>#}
                                    <div class="service-car"><img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="{{  path('home') }}">Le SYNCAVTCCI signe une convention avec la maison d’assurance Vitalis Santé (Business 24)</a></h3>
                                    <p>Dans le cadre de ses prérogatives, le syndicat a signé...
                                    </p>
                                    <a class="read-more" href="{{ path('home') }}">En savoir +</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
                <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
            </div>
        </div>
    </section>

    <section class="service-section bg-grey padding">
        <div class="bg-half"></div>
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Activités</h4>
                <h2 class="white">Suivez en vidéos, les activités du syndicat<br></h2>
                <p>Le Bureau du SYNACVTCCI ne ménage aucun effort pour le bien-être de ses membres.</p>
            </div>

            <div class="swiper-outside">
                <div class="service-carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb video-box">
                                    <img src="{{ asset('assets/frontend/img/05/AUGMENTATION-DU-PRIX-DU-CARBURANT-Le-SYNACVTCCI-appelle-l-Etat-à-subventionner-l-essence.png') }}" alt="img">
                                    <a data-autoplay="true" data-vbtype="video"
                                       href="https://www.youtube.com/watch?v=t0hi-3moUBU" class="dl-video-popup play-btn">
                                        <svg enable-background="new 0 0 41.999 41.999" version="1.1" viewbox="0 0 41.999 41.999"
                                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40  c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20  c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z M7.5,39.095V2.904l26.239,18.096L7.5,39.095z"></path>
                        </svg>
                                        <div class="ripple"></div>
                                    </a>
                                    <div class="service-car">
                                        <img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="https://www.youtube.com/watch?v=t0hi-3moUBU">AUGMENTATION DU PRIX DU CARBURANT</a></h3>
                                    <p>Le SYNACVTCCI appelle l'Etat à subventionner l'essence ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb video-box">
                                    <img src="{{ asset('assets/frontend/img/05/TRANSPORT-Le-SYNACVTCCI-signe-une-convention.png') }}" alt="img">
                                    <a data-autoplay="true" data-vbtype="video"
                                       href=https://www.youtube.com/watch?v=cKXnlOLIBU0 class="dl-video-popup play-btn">
                                        <svg enable-background="new 0 0 41.999 41.999" version="1.1" viewbox="0 0 41.999 41.999"
                                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40  c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20  c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z M7.5,39.095V2.904l26.239,18.096L7.5,39.095z"></path>
                                        </svg>
                                        <div class="ripple"></div>
                                    </a>
                                    <div class="service-car">
                                        <img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <h3><a href=https://www.youtube.com/watch?v=cKXnlOLIBU0>Le SYNACVTCCI signe une convention</a></h3>
                                    <p>Le SYNACVTCCI signe une convention...</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item wow fade-in-bottom" data-wow-delay="200ms">
                                <div class="service-thumb video-box">
                                    <img src="{{ asset('assets/frontend/img/05/Conférence-de-presse-de-Boka-N’Takpé-Jules-SG-du-syndicat-des-VTC-YANGO.png') }}" alt="img">
                                    <a data-autoplay="true" data-vbtype="video"
                                       href="https://www.youtube.com/watch?v=J6POGL8P-dg" class="dl-video-popup play-btn">
                                        <svg enable-background="new 0 0 41.999 41.999" version="1.1" viewbox="0 0 41.999 41.999"
                                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40  c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20  c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z M7.5,39.095V2.904l26.239,18.096L7.5,39.095z"></path>
                                        </svg>
                                        <div class="ripple"></div>
                                    </a>
                                    <div class="service-car">
                                        <img src="{{ asset('assets/frontend/img/car-1.png') }}" alt="car">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="https://www.youtube.com/watch?v=J6POGL8P-dg">Conférence de presse de Boka N’Takpé Jules SG du syndicat des VTC (YANGO)</a></h3>
                                    <p>Conférence de presse de Boka N’Takpé Jules SG du syndicat des VTC (YANGO)..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
                <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
            </div>
        </div>
    </section>

    <section class="cta-section-2 padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="cta-content">
                        <h4>Le bureau!</h4>
                        <h2>Composition du Bureau SYNACVTCCI!</h2>
                        <a href="{{ path('home') }}" class="default-btn">+ de details</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <ul class="check-list">
                        <li><i class="las la-arrow-right"></i>Le Secrétaire Général.</li>
                        <li><i class="las la-arrow-right"></i>Le Bureau Exécutif National.</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div class="cta-men wow fade-in-right" data-wow-delay="200ms"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-section bg-grey bd-bottom padding">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Synaccvtci en images</h4>
                <h2>Galerie Photo</h2>
            </div>


            <div class="tab-content" id="pricing-tab-content">
                <div class="tab-pane fade show active" id="hybrid-taxi-content" role="tabpanel"
                     aria-labelledby="hybrid-taxi">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-5.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1-600x480.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Signature partenariat avec BIAM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="town-taxi-content" role="tabpanel" aria-labelledby="town-taxi-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-5.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1-600x480.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Signature partenariat avec BIAM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="limousine-taxi-content" role="tabpanel" aria-labelledby="limousine-taxi">                    <div class="row">
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-5.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/remise-de-dons-600x450.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Remise de dons au chauffeur agressé en Mars 2022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-padding">
                            <div class="pricing-item">
                                <div class="">
                                    <div class="">
                                        <img src="{{ asset('assets/frontend/img/05/WhatsApp-Image-2022-05-09-at-08.39.10-1-600x480.jpeg') }}" alt="car">
                                    </div>
                                </div>
                                <div class="pricing-head">
                                    <h3><a href="{{ path('home') }}"></a></h3>
                                    <span class="location"></span>
                                </div>
                                <ul class="pricing-list">
                                    <li>Signature partenariat avec BIAM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="download-section-2 padding">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h4><span></span>Application mobile</h4>
                        <h2>SYNACVTCCI CHAT  votre Application de messagerie!</h2>
                        <p>Cette application disponible sur playstore permet au memebres du syndicat de discuter en temps reél sur des préoccupation ..</p>
                        <div class="download-btn">
                            <a href="#"><img src="{{ asset('assets/frontend/img/google-play.svg') }}" alt="PlayStore"></a>
                            <a href="#"><img src="{{ asset('assets/frontend/img/app-store.svg') }}" alt="AppStore"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-lg-block">
                    <div class="download-mockup wow fade-in-bottom" data-wow-delay="200ms"></div>
                    <div class="app-screen wow fade-in-bottom" data-wow-delay="400ms">
                        <img src="{{ asset('assets/frontend/img/mockup.png') }}" alt="" style="width: 440px;height: 471px;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-section padding">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Le Synacvtcci c'est </h4>
                <h2>Un réseau de chaufeurs VTC</h2>
                <p>Notre politique d'excellence nous engage à assurer à nos membres des formations continues.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-1.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Touré Ahmed</a></h3>
                            <h4>20 années d'experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-2.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Félix Kouassi</a></h3>
                            <h4>5 années d'experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-1.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Félix Kouassi</a></h3>
                            <h4>20 années d'experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="{{ asset("assets/frontend/img/team-2.jpg") }}" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="driver-details.html">Félix Kouassi</a></h3>
                            <h4>20 années d'experience</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-section bd-bottom bg-grey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-heading mb-10">
                        <h4><span></span>Témoignages membres </h4>
                        <h2>Les Vétécistes parlent…</h2>
                    </div>
                    <div class="swiper-outside testi-pagination">
                        <div class="testimonial-carousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p>Le synacvtcci est le syndicat qui protège nos intérèts et prends en compte nos préoccupations. C'est une fierté pour moi de faire partie de cette famille</p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="{{ asset('assets/frontend/img/comment-1.jpg') }}" alt="author">
                                            </div>
                                            <div class="author-info">
                                                <h3>Bah Abdoul Rahamane <span>Chaffeur VTC ,yango</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p>Le synacvtcci est le syndicat qui protège nos intérèts et prends en compte nos préoccupations. C'est une fierté pour moi de faire partie de cette famille</p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="{{ asset('assets/frontend/img/comment-1.jpg') }}" alt="author">
                                            </div>
                                            <div class="author-info">
                                                <h3>Bah Abdoul Rahamane <span>Chaffeur VTC ,yango</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p>Le synacvtcci est le syndicat qui protège nos intérèts et prends en compte nos préoccupations. C'est une fierté pour moi de faire partie de cette famille</p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="{{ asset('assets/frontend/img/comment-1.jpg') }}" alt="author">
                                            </div>
                                            <div class="author-info">
                                                <h3>Bah Abdoul Rahamane <span>Chaffeur VTC ,yango</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-wrap">
                        <div class="section-heading mb-30 wow fade-in-right" data-wow-delay="200ms">
                            <h4 class="white"><span></span>Le SYNACVTCCI c'est!</h4>
                            <h2 class="white">Pourquoi notre syndicat?</h2>
                            <p class="white">.</p>
                        </div>

                        <ul class="ridek-features">
                            <li class="wow fade-in-right" data-wow-delay="300ms">
                                <div class="feature-icon">
                                    <i class="las la-gem"></i>
                                </div>
                                <div class="feature-content">
                                    <h3>Qualité de service</h3>
                                    <p>Nous formons nos syndiqués à la <br> qualité de service!</p>
                                </div>
                            </li>
                            <li class="wow fade-in-right" data-wow-delay="400ms">
                                <div class="feature-icon">
                                    <i class="las la-taxi"></i>
                                </div>
                                <div class="feature-content">
                                    <h3>Respect du temps</h3>
                                    <p>Le temps, c'est de l'argent <br> nos chauffeurs prennent en compte cela!</p>
                                </div>
                            </li>
                            <li class="wow fade-in-right" data-wow-delay="500ms">
                                <div class="feature-icon">
                                    <i class="las la-tachometer-alt"></i>
                                </div>
                                <div class="feature-content">
                                    <h3>Rapide et efficace</h3>
                                    <p>Rapidité et efficace sont nos <br> maîtres mots!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-section bg-grey padding">
        <div class="container">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
                <h4><span></span>Ils nous font confiances!</h4>
                <h2>Partenaires!</h2>
                <p>.</p>
            </div>

            <div class="row grid-post">
                <div class="col-lg-3 col-md-6 px-2">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="{{ asset('assets/frontend/img/05/biam-logo.jpg') }}" alt="post">
                            <a href="http://www.biam-assistancemedicale.com/mission.php" class="post-category">BIAM</a>
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <h3>
                                    <a href="http://www.biam-assistancemedicale.com/mission.php" class="hover">Missions</a>
                                </h3>
                                <p>BIAM s’est assignée pour mission de contribuer au bien-être social sanitaire de ses adhérents et de leurs ayants droits, par un système efficient de couverture des risques sociaux liés à la personne et à la réparation de leurs conséquences....</p>
                                <a href="http://www.biam-assistancemedicale.com/mission.php" class="read-more">En savoir +</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 px-2">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="{{ asset('assets/frontend/img/05/cnps-logo.jpg') }}" alt="post">
                            <a href="https://www.cnps.ci/" class="post-category">CNPS</a>
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <h3>
                                    <a href="https://www.cnps.ci/" class="hover">Missions</a>
                                </h3>
                                <p>La CNPS a pour objectif la gestion obligatoire du régime de protection sociale des travailleurs du secteur privé et assimilés et des travailleurs indépendants...</p>
                                <a href="https://www.cnps.ci/" class="read-more">En savoir +</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 px-2">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="{{ asset('assets/frontend/img/05/vitalis-sante-logo.png') }}" alt="post">
                            <a href="https://www.vitalis-ci.com/" class="post-category">VITAL SANTE</a>
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <h3>
                                    <a href="https://www.vitalis-ci.com/" class="hover">Missions</a>
                                </h3>
                                <p>
                                    Vitalis Santé est plus qu'une simple Agence d'assurance santé. Nous sommes là pour alléger la vie de nos clients, car après tout, c'est ce que nous savons faire depuis 2020.....</p>
                                <a href="https://www.vitalis-ci.com/" class="read-more">En savoir +</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 px-2">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="{{ asset('assets/frontend/img/05/cnmci.png') }}" alt="post">
                            <a href="https://www.cnmci.ci/ma-cnmci/role-mission" class="post-category">Chambre nationale de métiers</a>
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <h3>
                                    <a href="https://www.cnmci.ci/ma-cnmci/role-mission" class="hover">Missions</a>
                                </h3>
                                <p>
                                    La Chambre Nationale de Métiers est certainement la Chambre Consulaire la moins connue des trois Chambres sœurs créées par décret et toutes trois Institutions économiques de notre pays.
                                    <a href="https://www.cnmci.ci/ma-cnmci/role-mission" class="read-more">En savoir +</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-section bg-grey ">
        <div class="container-fluid">
            <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms"
                 style="visibility: visible; animation-delay: 200ms; animation-name: fade-in-bottom;">
                <h4><span></span>Visitez notre siège </h4>
                <h2>Nos portes sont toujours ouvertes pour vous</h2>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.089072886123!2d-3.9605284732602613!3d5.362495535474716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1edb88f3d745f%3A0x9b99badadd45d89d!2sSYNACVTCCI!5e0!3m2!1sfr!2sci!4v1685957539712!5m2!1sfr!2sci"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    {{ include('frontend/_partials/footer.html.twig') }}

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
          $("#registration_form_photo").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#imagePreview').attr('src', evt.target.result);
                  $('#imagePreview').fadeIn(650);
              }
          });
      });

  </script>
{% endblock %}
