
    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'stepperform'}}) }}
        <h3>INFORMATIONS PERSONNELLES</h3>
        <fieldset>
            <div id="step0">
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row mb-4 mt-4">
                    <div class="d-flex justify-content-center">
                        <label for="member_photo_step_photo" class="d-block d-flex justify-content-center align-content-center">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                {% if member.photo %}
{#                                    <img id="imagePreview" src="/members/{{ member.reference }}/{{ member.photo }}" alt="" width="150">#}
                                    <img id="imagePreview" src="/members/{{ member.reference }}/{{ member.photo|image_path }}" alt="" width="150">
                                {% else %}
                                    <img id="imagePreview" src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="" width="150">
                                {% endif %}
                                <div class="d-block position-relative text-dark" style="top:-35px;left:32px"><i class="fa fa-camera fa-2x"></i></div>
                                {{ form_widget(form.photo, {'attr': {'class': 'visually-hidden'}}) }}
                                <div>Télécharger une photo</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row mb-3 mt-4">
                    <div class="col-md-2">
                        {{ form_row(form.tracking_code) }}
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <div class="col-md-4">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.mobile) }}
                    </div>
                </div>
            </div>
        </fieldset>

        <h3>SCAN PIECE D'IDENTITE </h3>
        <fieldset>
            <div id="step1">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="member_photo_step_photoPieceFront" class="form-label">Copie scannée de la pièce (recto)
                            {% if member.photoPieceFront %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPieceFrontPreview" src="/members/{{ member.reference }}/{{ member.photoPieceFront }}" alt="" width="100" style="width:50px;">
                                    {{ form_widget(form.photoPieceFront, {'attr': {'class': 'visually-hidden'}}) }}
                                    <div style="margin-top:0px">Télécharger une image</div>
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPieceFrontPreview" src="" alt="">
                                    <div style="margin-top:0px;text-align: center"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une photo
                                    </div>
                                    {{ form_widget(form.photoPieceFront, {'attr': {'class': 'visually-hidden'}}) }}
                                </div>
                            {% endif %}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label for="member_photo_step_photoPieceBack" class="form-label">Copie scannée de la pièce (verso)
                            {% if member.photoPieceBack %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPieceBackPreview" src="/members/{{ member.reference }}/{{ member.photoPieceBack }}" alt="" width="100" style="width:50px;">
                                    {{ form_widget(form.photoPieceBack, {'attr': {'class': 'visually-hidden'}}) }}
                                    <div style="margin-top:0px">Télécharger une image</div>
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPieceBackPreview" src="" alt="">
                                    <div style="margin-top:0px;text-align:center"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une photo
                                    </div>
                                    {{ form_widget(form.photoPieceBack, {'attr': {'class': 'visually-hidden'}}) }}
                                </div>
                            {% endif %}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <h3>SCAN PERMIS DE CONDUIRE</h3>
        <fieldset>
            <div id="step1">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="member_photo_step_photoPermisFront" class="form-label">Copie scannée du permis (recto)
                            {% if member.photoPermisFront %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPermisFrontPreview" src="/members/{{ member.reference }}/{{ member.photoPermisFront }}" alt="" width="100" style="width:50px;">
                                    {{ form_widget(form.photoPermisFront, {'attr': {'class': 'visually-hidden'}}) }}
                                    <div style="margin-top:0px">Télécharger une image</div>
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPermisFrontPreview" src="" alt="">
                                    <div style="margin-top:0px;text-align: center"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une photo
                                    </div>
                                    {{ form_widget(form.photoPermisFront, {'attr': {'class': 'visually-hidden'}}) }}
                                </div>
                            {% endif %}
                        </label>

                    </div>
                    <div class="col-md-6">
                        <label for="member_photo_step_photoPermisBack" class="form-label">Copie scannée de la permis (verso)
                            {% if member.photoPermisBack %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPermisBackPreview" src="/members/{{ member.reference }}/{{ member.photoPermisBack }}" alt="" width="100" style="width:50px;">
                                    {{ form_widget(form.photoPermisBack, {'attr': {'class': 'visually-hidden'}}) }}
                                    <div style="margin-top:0px" class="upload-icon">Télécharger une image</div>
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_photo_step_photoPermisBackPreview" src="" alt="">
                                    <div style="margin-top:0px;text-align: center"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une image
                                    </div>
                                    {{ form_widget(form.photoPermisBack, {'attr': {'class': 'visually-hidden'}}) }}
                                </div>
                            {% endif %}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <h3>DONNEES DE PAIEMENTS CHAMBRES DES METIERS (CODE ORANGE MONEY + RECU ELECTRONIQUE)</h3>
        <fieldset>
            <div id="step3">
                <div class="py-3">
                    <div id="partner_bock" class="my-3">
                        {{ form_row(form.payment_receipt_cnmci_code) }}
                        {{ form_row(form.paymentReceiptCnmci) }}
    {#                   {{ form_row(form.paymentReceiptSynacvtcci) }} #}
                    </div>
                </div>
            </div>
        </fieldset>
        <hr>
        <div class="row justify-content-center">
            <div class="text-center"><button type="submit" class="btn btn-success btn-lg">Enregister</button></div>
        </div>
    {{ form_end(form) }}
