
    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'stepperform'}}) }}
        <h3>INFORMATIONS PERSONNELLES</h3>
        <fieldset>
            <div id="step0">
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row mb-4 mt-2">
                    <div class="d-flex justify-content-center">
                        <label for="member_registration_photo" class="d-block d-flex justify-content-center align-content-center">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                {% if member.photo %}
{#                                    <img id="imagePreview" src="/members/{{ member.reference }}/{{ member.photo }}" alt="" width="150">#}
                                    <img id="imagePreview" src="/members/{{ member.reference }}/{{ member.photo|image_path }}" alt="" width="150">
                                {% else %}
                                    <img id="imagePreview" src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="" width="150">
                                {% endif %}
{#                                <div class="d-block position-relative text-dark" style="top:-35px;left:32px"><i class="fa fa-camera fa-2x"></i></div>#}
{#                                {{ form_widget(form.photo, {'attr': {'class': 'visually-hidden'}}) }}#}
{#                                <div>Télécharger une photo</div>#}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row mb-3 mt-4">
                    <div class="col-md-2">
                        {{ form_row(form.sex) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.firstName) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.mobile) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.whatsapp) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ form_row(form.birth_city) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.birth_country) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.date_of_birth) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.birth_locality) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.nationality) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.city) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.commune) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.quartier) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.postal_code) }}
                    </div>
                </div>
            </div>
        </fieldset>

        <h3>DOC D'IDENTITE</h3>
        <fieldset>
            <div id="step1">
                <div class="row mb-3">
                    <div class="col-md-4">
                        {{ form_row(form.company) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.IdType) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.IdNumber) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ form_row(form.IdDeliveryAuthority) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.IdDeliveryDate) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.IdDeliveryPlace) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.drivingLicenseNumber) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="member_registration_photoPieceFront" class="form-label">Copie scannée de la pièce (recto)
                            {% if member.photoPieceFront %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPieceFrontPreview" src="/members/{{ member.reference }}/{{ member.photoPieceFront|image_path }}" alt="" width="80%" style="width:80%;">
{#                                    {{ form_widget(form.photoPieceFront, {'attr': {'class': 'visually-hidden'}}) }}#}
{#                                    <div style="margin-top:0px">Télécharger une image</div>#}
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPieceFrontPreview" src="" alt="">
                                    <div style="margin-top:0px"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une photo
                                    </div>
{#                                    {{ form_widget(form.photoPieceFront, {'attr': {'class': 'visually-hidden'}}) }}#}
                                </div>
                            {% endif %}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label for="member_registration_photoPieceBack" class="form-label">Copie scannée de la pièce (verso)
                            {% if member.photoPieceBack %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPieceBackPreview" src="/members/{{ member.reference }}/{{ member.photoPieceBack|image_path }}" alt="" width="80%" style="width:80%;">
{#                                    {{ form_widget(form.photoPieceBack, {'attr': {'class': 'visually-hidden'}}) }}#}
{#                                    <div style="margin-top:0px">Télécharger une image</div>#}
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPieceBackPreview" src="" alt="">
                                    <div style="margin-top:0px"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une photo
                                    </div>
{#                                    {{ form_widget(form.photoPieceBack, {'attr': {'class': 'visually-hidden'}}) }}#}
                                </div>
                            {% endif %}
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="member_registration_photoPermisFront" class="form-label">Copie scannée du permis (recto)
                            {% if member.photoPermisFront %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPermisFrontPreview" src="/members/{{ member.reference }}/{{ member.photoPermisFront|image_path }}" alt="" width="80%" style="width:80%;">
{#                                    {{ form_widget(form.photoPermisFront, {'attr': {'class': 'visually-hidden'}}) }}#}
{#                                    <div style="margin-top:0px">Télécharger une image</div>#}
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPermisFrontPreview" src="" alt="">
                                    <div style="margin-top:0px"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une photo
                                    </div>
{#                                    {{ form_widget(form.photoPermisFront, {'attr': {'class': 'visually-hidden'}}) }}#}
                                </div>
                            {% endif %}
                        </label>

                    </div>
                    <div class="col-md-6">
                        <label for="member_registration_photoPermisBack" class="form-label">Copie scannée de la permis (verso)
                            {% if member.photoPermisBack %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPermisBackPreview" src="/members/{{ member.reference }}/{{ member.photoPermisBack|image_path }}" alt="" width="100" style="width:80%">
{#                                    {{ form_widget(form.photoPermisBack, {'attr': {'class': 'visually-hidden'}}) }}#}
{#                                    <div style="margin-top:0px" class="upload-icon">Télécharger une image</div>#}
                                </div>
                            {% else %}
                                <div class="image-upload-container">
                                    <img id="member_registration_photoPermisBackPreview" src="" alt="">
                                    <div style="margin-top:0px"  class="upload-icon">
                                        <i class="fa fa-upload fa-4x d-block"></i>Télécharger une image
                                    </div>
{#                                    {{ form_widget(form.photoPermisBack, {'attr': {'class': 'visually-hidden'}}) }}#}
                                </div>
                            {% endif %}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <h3>ACTIVITES</h3>
        <fieldset>
            <div id="step2">
                <div class="py-3">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ form_row(form.activity) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.activity_date_debut) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.socioprofessionnelle_category) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            {{ form_row(form.activity_geo_location) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.activity_country_location) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.activity_city_location) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.activity_quartier_location) }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <h3>DONNEES FAMILLES</h3>
        <fieldset>
            <div id="step3">
                <div class="py-3">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            {{ form_row(form.etatCivil) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.partner_first_name) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.partner_last_name) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ form_row(form.referantLastName) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.referantFirstName) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.referantMobile) }}
                    </div>
                </div>
                <div class="row mb-3">
                    Avez-vous un/des enfant(s) ? &nbsp;&nbsp;
                    <div class="d-flex">
                        <input type="checkbox" name="has_child" id="has_child" switch="none" />
                        <label for="has_child" data-on-label="Oui" data-off-label="Non"></label>
                    </div>
                    <br>
                    <div id="child-row" style="display:none;">
                        <div id="children_bock"  class="pt-2">
                        </div>
                        <span href="#" id="newChild" class="btn btn-small btn-rounded btn-primary"></i> Enregistrer un enfant </span>
                    </div>
                </div>

            </div>
        </fieldset>

        <h3>CHAMBRE DES METIERS</h3>
        <fieldset>
            <div id="step3">
                <div class="py-3">
                    <div id="partner_bock" class="my-3">
                        {{ form_row(form.payment_receipt_cnmci_code) }}
                        {% if member.paymentReceiptCnmci %}
                            <embed src="/members/{{ member.reference }}/{{ member.paymentReceiptCnmci|image_path }}" width="500" height="375" type="application/pdf">
                        {% endif %}

{#                        {{ form_row(form.paymentReceiptCnmci) }}#}
    {#                   {{ form_row(form.paymentReceiptSynacvtcci) }} #}
                    </div>
                </div>
            </div>
        </fieldset>
        <hr>
    <hr>
    <div class="row justify-content-center">
        <div class="text-center"><button type="submit" class="btn btn-success btn-lg">Enregister</button></div>
    </div>
    {{ form_end(form) }}

