{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('assets/admin/css/app.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('assets/admin/libs/select2/css/select2.min.css') }}" type="text/css" rel="stylesheet">
    <style>
        .wizard .steps > ul > li a {
            font-size: 12px;
            font-weight: bold;
            color: #000000;
        }

        .form-control, .form-select {
            padding: 0.5rem 0.55rem;
            font-size: 0.95rem;
            color: #4f01b9;
            font-weight: bolder;
            border-radius: 0rem;
            border: 1px solid #4f01b9;
        }

        .form-control:focus, .form-select:focus {
            outline: 0;
            box-shadow: none;
            border-color: #0701b9;
        }

        .col-form-label {
            padding-top: calc(0.375rem + 1px);
            padding-bottom: calc(0.375rem + 1px);
            margin-bottom: 0;
            font-size: 0.95rem;
            line-height: 1.5;
        }

        .form-label {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
            font-weight: bold;
            color: #2a3042;
        }

        .form-check-label {
            font-size: 0.82rem;
        }

        .form-check-input {
            margin-top: 0.4em;
        }

        #field {
            margin-left: .5em;
            float: left;
        }

        #field, label {
            float: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }

        br {
            clear: both;
        }

        input {
            border: 1px solid black;
            margin-bottom: .5em;
        }

        input.error {
            border: 1px solid red;
        }

        label.error {
            padding-left: 0px;
            margin-left: 0em;
        }

        label.valid {
            display: block;
            width: 16px;
            height: 16px;
        }

        .select2 span.select2-selection__rendered,
        li.select2-results__option {
            font-size: 1.05rem;
            color: #4f01b9;
            font-weight: bolder;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #0701b9;
            /*font-size: 0.75rem;*/
            font-size: 1.05rem;
            color: #fff;
            font-weight: bolder;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #4f01b9;
            line-height: 28px;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid #4f01b9;
            border-radius: 4px;
            cursor: text;
            min-height: 50px;
        }

        .select2-container .select2-selection--single {
            height: 41px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid #112ba8;
            border-radius: 0px;
        }

        input.select2-search__field {
            border: 1px solid black;
            margin-bottom: 0.0em;
        }


        @media (max-width: 768px) {
            .page-header-info h2 {
                font-size: 26px;
                line-height: 36px;
            }
        }

        label.required:after {
            content: " *";
            color: red;
        }


        #stepperform h3{
            background-color: #112ba8;
            padding: 5px 5px;
            color: white;
            font-size: 16px;
        }

        fieldset > div {
            padding: 10px 25px;
            margin-top: 5px;
        }

        .image-upload-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 450px;
            height: auto;
            margin: auto;border: 1px dashed #adb5bd;
            padding: 10px 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">

        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('admin/_partials/left-sidebar.html.twig')}}
        {% endif %}
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body px-5">
                            <h4 class="card-title mb-4">Enregistrer un nouveau membre</h4>
                            {{ include('admin/member/_form.html.twig') }}
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/frontend/js/vendor/jquery.datetimepicker.full.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery-steps/build/jquery.steps.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery.form/jquery.form.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery.validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/jquery.validation/additional-methods.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/inputmask/dist/jquery.inputmask.bundle.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/select2/js/select2.min.js') }}"></script>
<script>
      $('document').ready(function() {


          $("form").submit(function(e){
              alert("Submitted");
          });

          var children = [];
          $("input").keyup(function() {
              this.value = this.value.toUpperCase();
          });
          $("input[name='has_child']").on('change.bootstrapSwitch', function(e) {
              if(!e.target.checked){
                  $('#child-row').hide();
              }else{
                  $('#child-row').show();
              }
          });

          $('#newChild').click(function(){
            var row = "<div class='d-flex justify-content-between w-75'><label class='py-2'>Nom <input type='text' name='child_firstname[]' value='' class='form-control' /></label><label class='my-2'>Prénoms <input type='text' name='child_lastname[]' value='' class='form-control' /></label><label class='my-2'>Sexe <input type='text' name='child_sex[]' value='' class='form-control' /></label></div>";
            $('#children_bock').append(row);
          });

             jQuery.extend(jQuery.validator.messages, {
                required: "Ce champ est obligatoire.",
                remote: "Please fix this field.",
                email: "Veuillez entrer une adresse email valide.",
                url: "Please enter a valid URL.",
                date: "Date invalide.",
                dateISO: "Please enter a valid date (ISO).",
                number: "Please enter a valid number.",
                digits: "Please enter only digits.",
                creditcard: "Please enter a valid credit card number.",
                equalTo: "Please enter the same value again.",
                accept: "Please enter a value with a valid extension.",
                maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
                minlength: jQuery.validator.format("Please enter at least {0} characters."),
                rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
                range: jQuery.validator.format("Please enter a value between {0} and {1}."),
                max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
                min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
            });


          $("#member_registration_photo").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#imagePreview').attr('src', evt.target.result);
                  $('#imagePreview').fadeIn(650);
              }
          });

          $("label[for='member_registration_photoPieceFront']").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#member_registration_photoPieceFrontPreview').attr('src', evt.target.result);
                  $('#member_registration_photoPieceFrontPreview').attr('width','85%');
                  $("label[for='member_registration_photoPieceFront'] .upload-icon").hide();
                  $('#member_registration_photoPieceFrontPreview').fadeIn(650);
              }
          });

          $("label[for='member_registration_photoPieceBack']").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#member_registration_photoPieceBackPreview').attr('src', evt.target.result);
                  $('#member_registration_photoPieceBackPreview').attr('width','85%');
                  $("label[for='member_registration_photoPieceBack'] .upload-icon").hide();
                  $('#member_registration_photoPieceBackPreview').fadeIn(650);
              }
          });

          $("label[for='member_registration_photoPermisFront']").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#member_registration_photoPermisFrontPreview').attr('src', evt.target.result);
                  $('#member_registration_photoPermisFrontPreview').attr('width','85%');
                  $("label[for='member_registration_photoPermisFront'] .upload-icon").hide();
                  $('#member_registration_photoPermisFrontPreview').fadeIn(650);
              }
          });

          $("label[for='member_registration_photoPermisBack']").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#member_registration_photoPermisBackPreview').attr('src', evt.target.result);
                  $('#member_registration_photoPermisBackPreview').attr('width','85%');
                  $("label[for='member_registration_photoPermisBack'] .upload-icon").hide();
                  $('#member_registration_photoPermisBackPreview').fadeIn(650);
              }
          });


          $('.js-datepicker').datetimepicker({
                 timepicker:false,
                 format:  'd/m/Y',
                // mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
          });

          $(".input-mask").inputmask();

          $(".select2").select2();
          $(".select2-multiple").select2({
             multiple: true
          });
      });
  </script>

{% endblock %}


