<!-- MAIN SECTION -->
<form action="{{ path('admin_member_cncmi_edit',{id: member.id}) }}" id="form_member_edit" method="post">
    <div class="container pt-5" >
            <div  id="top-row" class="row border border-1 border-dark">
                <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" value="metier" name="immatriculation" checked>
                        <label for="metiers" class="fw-bold">&nbsp; IMMATRICULATION AU REGISTRE DES METIERS</label>
                        <p class="mt-3" style="font-size: 12px;">(Arrete N° 1053/MA/CAB du 10 Décembre 2020 définissant les <br>modalités d'immatriculation au Registre des Métiers)</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" value="artisanal" name="immatriculation">
                        <label for="artisanale"  class="fw-bold">&nbsp; IMMATRICULATION AU REPERTOIRE DES ENTREPRISES ARTISANALES</label>
                        <p class="mt-3" style="font-size: 12px;">(Arrete N° 1053/MA/CAB du 10 Janvier 2016 définissant les <br>modalités d'immatriculation au Repertoire des entreprises artisanales)</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 border border-1 border-dark">
                <div class="fw-bold text-center border-bottom border-dark"  style="background-color: #f2d0e9;">A. RENSEIGNEMENT SUR L'EXPLOITANT</div>
                <div class="p-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-1">
                            <label for="lastName" class="col-form-label">Nom :</label>
                        </div>
                        <div class="col-5">
                            <input type="text" id="lastName" name="lastName" class="form-control" aria-labelledby="lastName" value="{{ member.lastName }}">
                        </div>
                        <div class="col-1">
                            <label for="firstName" class="col-form-label">Prénoms :</label>
                        </div>
                        <div class="col-5">
                            <input type="text" id="firstName" name="firstName" class="form-control" aria-labelledby="firstName" value="{{ member.firstName }}">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="dateOfBirth" class="col-form-label">Né(e) le :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="dateOfBirth" name="dateOfBirth" class="form-control input-mask" aria-labelledby="dateOfBirth" value="{{ member.dateOfBirth|date('d-m-Y')  }}" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy">
                        </div>
                        <div class="col-auto">
                            <label for="birthCity" class="col-form-label">à :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="birthCity" name="birthCity" class="form-control" aria-labelledby="birthCity" value="{{ member.birthCity }}">
                        </div>
                        <div class="col-auto">
                            <label for="nationality" class="col-form-label">Nationalité :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="nationality" name="nationality" class="form-control" aria-labelledby="nationality" value="{{ member.nationality }}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="sex" class="col-form-label">Sexe :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="sex" name="sex" value="H" {{ member.sex == 'H' ? 'checked' : ''}}>
                                <label class="form-check-label" for="sex">Homme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="sex" name="sex" value="F" {{ member.sex == 'F' ? 'checked' : ''}}>
                                <label class="form-check-label" for="sex">Femme</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="commune" class="col-form-label">Domicilié (e) à :</label>
                        </div>
                        <div class="col-5">
                            <input type="text" id="commune" name="city" class="form-control" aria-labelledby="commune" value="{{ member.commune }}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="idType" class="col-form-label">Type de document :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="idType" name="idType" value="cni" {{ member.idType == 'CNI' ? 'checked' : '' }}>
                                <label class="form-check-label" for="idType">CNI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="idType" name="idType" value="cc" {{ member.idType == 'CC' ? 'checked' : '' }}>
                                <label class="form-check-label" for="idType">CC</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="idType" name="idType" value="passeport" {{ member.idType == 'PASSEPORT' ? 'checked' : '' }}>
                                <label class="form-check-label" for="idType">Passeport</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="idType" name="idType" value="Carte de résident" {{ member.idType == 'CARTE DE RESIDENT' ? 'checked' : '' }}>
                                <label class="form-check-label" for="idType">Carte de résident</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="idType" name="idType" value="Autre" {{ member.idType not in ['CC','CNI','PASSEPORT','CARTE DE RESIDENT'] ? 'checked' : '' }}>
                                <label class="form-check-label" for="idType">Autre</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="document_other" class="col-form-label">(à preciser) :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="idTypeAutre" name="idTypeAutre" class="form-control" aria-labelledby="idTypeAutre">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="idNumber" class="col-form-label">N° :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="idNumber" name="idNumber" class="form-control" aria-labelledby="idNumber" value="{{ member.idNumber }}">
                        </div>
                        <div class="col-auto">
                            <label for="idDeliveryPlace" class="col-form-label">Délivré à :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="idDeliveryPlace" name="idDeliveryPlace" class="form-control" aria-labelledby="idDeliveryPlace"  value="{{ member.idDeliveryPlace }}">
                        </div>
                        <div class="col-auto">
                            <label for="idDeliveryDate" class="col-form-label">Le :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="idDeliveryDate" name="idDeliveryDate" class="form-control input-mask" aria-labelledby="idDeliveryDate" value="{{ member.idDeliveryDate|date('d-m-Y') }}" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="etatCivil" class="col-form-label">Etat civil :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="etatCivil" name="etatCivil" value="MARIE(E)" {{ member.etatCivil == "MARIE(E)" ? 'checked' : '' }}>
                                <label class="form-check-label" for="etatCivil">Marié</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="etatCivil" name="etatCivil" value="CELIBATAIRE" {{ member.etatCivil == "CELIBATAIRE" ? 'checked' : '' }}>
                                <label class="form-check-label" for="etatCivil">Célibataire</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="etatCivil" name="etatCivil" value="DIVORCE" {{ member.etatCivil == "DIVORCE" ? 'checked' : '' }}>
                                <label class="form-check-label" for="etatCivil">Divorcé(e)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="etatCivil" name="etatCivil" value="VEUF" {{ member.etatCivil == "VEUF" ? 'checked' : '' }}>
                                <label class="form-check-label" for="etatCivil">Veuf(ve)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="mobile" class="col-form-label">Telephone :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="mobile" name="mobile" class="form-control input-mask" aria-labelledby="mobile" value="{{ member.mobile }}"  data-inputmask="'mask': '9999999999'">
                        </div>
                        <div class="col-auto">
                            <label for="email" class="col-form-label">Email :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="email" name="email" class="form-control" aria-labelledby="email" value="{{ member.email }}">
                        </div>
                    </div>

                    <div style="position:absolute;top: 80px;right:1px;width: 142px;height: 166px;border:1px solid #a8a8a8;padding:20px 20px;">
                        <label for="member_registration_photo" class="d-block d-flex justify-content-center align-content-center">
                            <div style="margin-top: -18px;">
                                {% if member is defined and member.photo is not empty %}
                                    <img id="imagePreview" src="{{ asset('members/') }}{{ member.reference }}/{{ member.photo }}" alt="" width="120" height="160" class="rounded-0">
                                {% else %}
                                    <img id="imagePreview" src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="" width="50" class="rounded-0">
                                {% endif %}
                                <span class="d-block position-relative text-white" style="top:-40px;left:32px"><i class="mdi mdi-camera mdi-36px"></i></span>
                                <input type="file" id="member_registration_photo" name="member_registration_photo" class="visually-hidden form-control">
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row border border-1 border-dark">
                <div class="fw-bold text-center border-bottom border-dark"  style="background-color: #f2d0e9;">B. RENSEIGNEMENT SUR LA FORMATION PROFESSIONNELLE</div>
                <div class="p-3">

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="formationNiveauEtude" class="col-form-label">Niveau d'étude :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationNiveauEtude" name="formationNiveauEtude" value="Non Scolarisé" disabled>
                                <label class="form-check-label" for="education">1- Non scolarisé</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationNiveauEtude" name="formationNiveauEtude" value="Primaire" disabled>
                                <label class="form-check-label" for="education">2- Primaire</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationNiveauEtude" name="formationNiveauEtude" value="Secondaire" disabled>
                                <label class="form-check-label" for="education">3- Secondaire</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationNiveauEtude" name="formationNiveauEtude" value="Superieure" disabled>
                                <label class="form-check-label" for="education">4- Supérieur</label>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="formationClass" class="col-form-label">Précisez la classe(2-3-4) :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="formationClass" name="formationClass" class="form-control" aria-labelledby="formationClass" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="formationDiplomeObtenu" class="col-form-label">Précisez le diplôme obtenu :</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="formationDiplomeObtenu" name="formationDiplomeObtenu" class="form-control" aria-labelledby="formationDiplomeObtenu" disabled>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="formationApprenMetier" class="col-form-label">Apprentissage du métier :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationApprenMetier" name="formationApprenMetier" value="Sur le tas" disabled>
                                <label class="form-check-label" for="formationApprenMetier">1- Sur le tas</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationApprenMetier" name="formationApprenMetier" value="CFP" disabled>
                                <label class="form-check-label" for="training">2- Centre de Formation Professionnelle (CFP)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="formationApprenMetierNiveau" class="col-form-label">Précisez le niveau (2) :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="formationApprenMetierNiveau" name="formationApprenMetierNiveau" class="form-control" aria-labelledby="formationApprenMetierNiveau" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="formationApprenMetierDiplomeObtenu" class="col-form-label">Précisez le diplôme obtenu :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="formationApprenMetierDiplomeObtenu" name="formationApprenMetierDiplomeObtenu" class="form-control" aria-labelledby="formationApprenMetierDiplomeObtenu" disabled>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="formationApprenMetierCNMCI" class="col-form-label">Avez-vous un diplôme delivré par la CNMCI :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationApprenMetierCNMCI" name="formationApprenMetierCNMCI" value="0" disabled>
                                <label class="form-check-label" for="formationApprenMetierCNMCI">NON</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationApprenMetierCNMCI" name="formationApprenMetierCNMCI" value="1" disabled>
                                <label class="form-check-label" for="formationApprenMetierCNMCI">OUI</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="formationApprenMetierTypeCNMCI" class="col-form-label">Lequel ?</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationApprenMetierTypeCNMCI" name="formationApprenMetierTypeCNMCI" value="0" disabled>
                                <label class="form-check-label" for="formationApprenMetierTypeCNMCI">Maître Artisan</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="formationApprenMetierTypeCNMCI" name="formationApprenMetierTypeCNMCI" value="1" disabled>
                                <label class="form-check-label" for="formationApprenMetierTypeCNMCI">Fin d'Apprentissage</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 border-dark">
                <div class="fw-bold text-center border-bottom border-dark"  style="background-color: #f2d0e9;">C. RENSEIGNEMENT SUR L'ETABLISSEMENT</div>
                <div class="p-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="principalActiviteEtabl" class="col-form-label">Activité principale exercée :</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="principalActiviteEtabl" name="principalActiviteEtabl" class="form-control" aria-labelledby="principalActiviteEtabl" disabled>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="activiteSecondaireEtabl" class="col-form-label">Activité secondaire :</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="activiteSecondaireEtabl" name="activiteSecondaireEtabl" class="form-control" aria-labelledby="activiteSecondaireEtabl" disabled>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="raisonSocialEtabl" class="col-form-label">Raison social :</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="raisonSocialEtabl" name="raisonSocialEtabl" class="form-control" aria-labelledby="raisonSocialEtabl" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="sigleEnseigneEtabl" class="col-form-label">Sigle ou Enseigne :</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="sigleEnseigneEtabl" name="sigleEnseigneEtabl" class="form-control" aria-labelledby="sigleEnseigneEtabl" disabled>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="dateDebutActiviteEtabl" class="col-form-label">Date de début d'activité :</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="dateDebutActiviteEtabl" name="dateDebutActiviteEtabl" class="form-control" aria-labelledby="dateDebutActiviteEtabl" disabled>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="typeEntrepriseEtabl" class="col-form-label">Type de l'entreprise :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="typeEntrepriseEtabl" name="typeEntrepriseEtabl" value="Entreprise individuelle" disabled>
                                <label class="form-check-label" for="typeEntrepriseEtabl">Entreprise individuelle</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="typeEntrepriseEtabl" name="typeEntrepriseEtabl" value="SARL" disabled>
                                <label class="form-check-label" for="typeEntrepriseEtabl">SARL</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="typeEntrepriseEtabl" name="typeEntrepriseEtabl" value="GIE" disabled>
                                <label class="form-check-label" for="typeEntrepriseEtabl">GIE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="typeEntreprise" name="typeEntrepriseEtabl" value="Societe cooperative" disabled>
                                <label class="form-check-label" for="typeEntrepriseEtabl">Société coopérative</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="regimeFiscalEtabl" class="col-form-label">Regime fiscal :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="regimeFiscalEtabl" name="regimeFiscalEtabl" value="Taxe communale de l'entrepenant" disabled>
                                <label class="form-check-label" for="regimeFiscalEtabl">Taxe communale de l'Entrepenant</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="regimeFiscalEtabl" name="regimeFiscalEtabl" value="Taxe d'Etat de l'Entreprenant" disabled>
                                <label class="form-check-label" for="regimeFiscalEtabl">Taxe d'Etat de l'Entreprenant</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="regimeFiscalEtabl" name="regimeFiscalEtabl" value="Autres" disabled>
                                <label class="form-check-label" for="regimeFiscalEtabl">Autres</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="identifiantCNPSEtabl" class="col-form-label">Identifiant CNPS de l'entreprise ou de l'artisan :</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="identifiantCNPSEtabl" name="identifiantCNPSEtabl" class="form-control" aria-labelledby="identifiantCNPSEtabl" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="numCompteContribuableEtabl" class="col-form-label">N° Compte contribuable :</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="numCompteContribuableEtabl" name="numCompteContribuableEtabl" class="form-control" aria-labelledby="numCompteContribuableEtabl" disabled>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="addressPostalEtabl" class="col-form-label">Adresse postale :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="addressPostalEtabl" name="addressPostalEtabl" class="form-control" aria-labelledby="addressPostalEtabl" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="TelEtabl" class="col-form-label">Telephone :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="TelEtabl" name="TelEtabl" class="form-control input-mask" aria-labelledby="TelEtabl"  data-inputmask="'mask': '9999999999'" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="faxEtabl" class="col-form-label">Fax :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="faxEtabl" name="faxEtabl" class="form-control" aria-labelledby="faxEtabl" disabled>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="" class="col-form-label">Adresse géographique :</label>
                            <label for="deptEtabl" class="col-form-label">Département :</label>
                        </div>
                        <div class="col-5">
                            <input type="text" id="communeEtabl" name="communeEtabl" class="form-control" aria-labelledby="communeEtabl" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="communeEtabl" class="col-form-label">Commune :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="communeEtabl" name="communeEtabl" class="form-control" aria-labelledby="communeEtabl" disabled>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="spEtabl" class="col-form-label">S/P :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="spEtabl" name="spEtabl" class="form-control" aria-labelledby="spEtabl" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="quartierEtabl" class="col-form-label">Quartier :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="quartEtabl" name="quartEtabl" class="form-control" aria-labelledby="quartEtabl" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="villageEtabl" class="col-form-label">Village :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="villageEtabl" name="villageEtabl" class="form-control" aria-labelledby="villageEtabl" disabled>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="lotEtabl" class="col-form-label">Lot N° :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="lotEtabl" name="lotEtabl" class="form-control" aria-labelledby="lotEtabl" disabled>
                        </div>
                        <div class="col-auto">
                            <label for="ilotEtabl" class="col-form-label">ILOT N° :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="ilotEtabl" name="ilotEtabl" class="form-control" aria-labelledby="ilotEtabl" disabled>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="effectifSalarieEtabl" class="col-form-label">Effectif des salariés :</label>
                        </div>
                        <div class="col-auto d-flex">
                            <input style="max-width: 50px;" type="text" id="effectifSalarieEtabl" name="effectifSalarieEtablFemme" class="form-control" aria-labelledby="effectifSalarieEtablFemme" disabled>
                            <div class="small">Femmes</div>
                        </div>
                        <div class="col-auto d-flex">
                            <input style="max-width: 50px;" type="text" id="effectifSalarieEtabl" name="effectifSalarieEtablHomme" class="form-control" aria-labelledby="effectifSalarieEtablHomme" disabled>
                            <div class="small">Hommes</div>
                        </div>
                        <div class="col-auto">
                            <label for="effectifApprenantEtabl" class="col-form-label">Effectif des salariés :</label>
                        </div>
                        <div class="col-auto d-flex">
                            <input style="max-width: 50px;" type="text" id="effectifApprenantEtabl" name="effectifApprenantEtablFemme" class="form-control" aria-labelledby="effectifApprenantEtablFemme" disabled>
                            <div class="small">Femmes</div>
                        </div>
                        <div class="col-auto d-flex">
                            <input style="max-width: 50px;" type="text" id="effectifApprenantEtabl" name="effectifApprenantEtablHomme" class="form-control" aria-labelledby="effectifApprenantEtablHomme" disabled>
                            <div class="small">Hommes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 border-dark">
                <div class="fw-bold text-center border-bottom border-dark"  style="background-color: #f2d0e9;">C. RENSEIGNEMENT SUR PERSONNE POUVANT ENGAGER L'ENTREPRISE</div>
                <div class="p-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-1 col-xs-6">
                            <label for="referantNom" class="col-form-label">Nom :</label>
                        </div>
                        <div class="col-5 col-xs-6">
                            <input type="text" id="referantNom" name="referantNom" class="form-control" aria-labelledby="referantNom" value="{{ member.lastName }}">
                        </div>
                        <div class="col-1 col-xs-6">
                            <label for="referantPrenom" class="col-form-label">Prénoms :</label>
                        </div>
                        <div class="col-5 col-xs-6">
                            <input type="text" id="referantPrenom" name="firstname" class="form-control" aria-labelledby="referantPrenom" value="{{ member.firstName }}">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="referantDateNais" class="col-form-label">Né(e) le :</label>
                        </div>
                        <div class="col-2">
                            <input type="text" id="referantDateNais" name="referantDateNais" class="form-control input-mask" aria-labelledby="referantDateNais" value="{{ member.dateOfBirth | date('d-m-Y') }}" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy">
                        </div>
                        <div class="col-auto">
                            <label for="referantLieuNais" class="col-form-label">à :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="referantLieuNais" name="referantLieuNais" class="form-control" aria-labelledby="referantLieuNais" value="{{ member.birthCity }}">
                        </div>
                        <div class="col-auto">
                            <label for="referantNationalite" class="col-form-label">Nationalité :</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="referantNationalite" name="nationality" class="form-control" aria-labelledby="referantNationalite" value="{{ member.nationality }}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="referantSex" class="col-form-label">Sexe :</label>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="sex" name="referantSex" value="H" {{ member.sex == 'H' ? 'checked' : ''}}>
                                <label class="form-check-label" for="referantSex">Homme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantSex" name="referantSex" value="F" {{ member.sex == 'F' ? 'checked' : ''}}>
                                <label class="form-check-label" for="referantSex">Femme</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="referantDomicile" class="col-form-label">Domicilié (e) à :</label>
                        </div>
                        <div class="col-5">
                            <input type="text" id="referantDomicile" name="referantDomicile" class="form-control" aria-labelledby="referantDomicile" value="{{ member.commune }}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="referantTypeDoc" class="col-form-label">Type de document :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="cni" {{ member.idType == 'CNI' ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantTypeDoc">CNI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="cc" {{ member.idType == 'CC' ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantTypeDoc">CC</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="passeport" {{ member.idType == 'PASSEPORT' ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantTypeDoc">Passeport</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantTypeDoc" name="referantTypeDoc" value="Carte de résident" {{ member.idType == 'CARTE DE RESIDENT' ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantTypeDoc">Carte de résident</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="document" name="referantTypeDoc" value="autre"  {{ member.idType not in ['CC','CNI','PASSEPORT','CARTE DE RESIDENT'] ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantTypeDoc">Autre</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="referantTypeDocAutre" class="col-form-label">(à preciser) :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="referantTypeDocAutre" name="referantTypeDocAutre" class="form-control" aria-labelledby="referantTypeDocAutre">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="referantNumDoc" class="col-form-label">N° :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="referantNumDoc" name="referantNumDoc" class="form-control" aria-labelledby="referantNumDoc"  value="{{ member.idNumber }}">
                        </div>
                        <div class="col-auto">
                            <label for="referantDocLieuDelivrance" class="col-form-label">Délivré à :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="referantDocLieuDelivrance" name="referantDocLieuDelivrance" class="form-control" aria-labelledby="referantDocLieuDelivrance"   value="{{ member.idDeliveryPlace }}">
                        </div>
                        <div class="col-auto">
                            <label for="referantDocDateDelivrance" class="col-form-label">Le :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="referantDocDateDelivrance" name="referantDocDateDelivrance" class="form-control input-mask" aria-labelledby="referantDocDateDelivrance"  value="{{ member.idDeliveryDate|date('d-m-Y') }}" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="referantEtatCivil" class="col-form-label">Etat civil :</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="MARIE(E)"  {{ member.etatCivil == "MARIE(E)" ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantEtatCivil">Marié</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="CELIBATAIRE" {{ member.etatCivil == "CELIBATAIRE" ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantEtatCivil">Célibataire</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="DIVORCE"  {{ member.etatCivil == "DIVORCE" ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantEtatCivil">Divorcé(e)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="referantEtatCivil" name="referantEtatCivil" value="VEUF"  {{ member.etatCivil == "VEUF" ? 'checked' : '' }}>
                                <label class="form-check-label" for="referantEtatCivil">Veuf(ve)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label for="referantTel" class="col-form-label">Telephone :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="referantTel" name="referantTel" class="form-control input-mask" aria-labelledby="referantTel" value="{{ member.mobile }}"  data-inputmask="'mask': '9999999999'">
                        </div>
                        <div class="col-auto">
                            <label for="referantEmail" class="col-form-label">Email :</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="referantEmail" name="referantEmail" class="form-control" aria-labelledby="referantEmail"  value="{{ member.email }}">
                        </div>
                    </div>
                </div>
            </div>
{#
            <div class="row mt-3 py-4 border border-dark bg-grey">
                <div class="col-auto">
                    <label for="CodeSticker" class="col-form-label">Code de sticker :</label>
                </div>
                <div class="col-6">
                    <input type="text" id="CodeSticker" name="CodeSticker" class="form-control py-4" aria-labelledby="CodeSticker"  value="{{ member.codeSticker?:'999999' }}">
                </div>
            </div>
#}
            <div class="row py-2">
                <div class="col-9 small">(*) Les promoteurs des entreprises artisanales participant personnellement et continuellement à l'actvité et possédant une qualification professionnelle dans le métier exercé peuvent introduire une demande de carte professionnelle d'artisant</div>
                <div class="col-3 small">
                    Déclaration certifiée sincère <br>
                    A ............................................................. le ........................................
                </div>
            </div>
            <div>
                <div class="row justify-content-center py-3">
                    <button type="submit" class="btn btn-primary w-25">Mettre à jour</button>
                </div>
            </div>
    </div>
</form>
<!-- END SECTION -->

